{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="icon" href="/static/questions/img/xxx.png" >
    <link href="{% static 'companies/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'companies/css/tools.css' %}" rel="stylesheet" />
    <link href="{% static 'companies/css/style.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/vfs_fonts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="sidebar sidebar-bg" id="sidebar">
        <div class="sidebar-content">
          <div class="perfect-scrollbar">
            <div class="ps">
              <div class="ps-content">
                <div class="sidebar-logo">
                  <img
                    src="{% static 'questions/img/dark_logo.png' %}"
                    class="img-responsive2"
                    alt=""
                  />
                  <p>DIGITALIZE EVERYTHING, NOW.</p>
                </div>
                <div class="sidebar-profile">
                  <div class="user-pic">
                    <img
                      src="{% static 'questions/img/xIcon.png' %}"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="user-info">
                    <span class="user-name">
                      {{ user.first_name }} <strong>{{ user.last_name }}</strong>
                    </span>
                    <span class="user-role">
                      {% if user.groups.exists %}
                {% for group in user.groups.all %}
                    <p class="groupP">{{ group.name }}<p>
               {% endfor %}
               {% else %}
               <p class="">Grupsuz</p>
               {% endif %}
                    </span>
                    <span class="user-status">
                      <i class="bi bi-circle-fill"></i>
                      <span>Online</span>
                    </span>
                  </div>
                </div>
                <div class="sidebar-menu">
                  <ul>
                    <li>
                      <a href="{% url 'user_profile:index' %}">
                        <i class="bi bi-layers-fill"></i>
                        <span>Profile</span>
                      </a>
                    </li>
                    <li><span class="generalText">General</span></li>
                    <li >
                      <a href="{% url 'questions:index' %}">
                        <i class="bi bi-ui-checks"></i>
                        <span>Question Forms</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-diagram-3-fill"></i>
                        <span>Question Panel</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'clients:index' %}">
                        <i class="bi bi-layers-fill"></i>
                        <span>Clients</span>
                      </a>
                    </li>
                 
                     <li  style="background: #d6d6d62e">
                      <a href="{% url 'companies:index' %}">
                        <i class="bi bi-brilliance"  style="color: #fff"></i>
                        <span  style="color: #fff">Client Panel</span>
                      </a>
                    </li>

                    <li><span class="generalText">Extra</span></li>
                    <li>
                      <a href="#">
                        <i class="bi bi-journal-text"></i>
                        <span>Documentation</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-calendar-fill"></i>
                        <span>Calendar</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-folder-fill"></i>
                        <span>Examples</span>
                      </a>
                    </li>
                    <li><span class="generalText">Tools</span></li>
                    <li>
                      <a href="#" id="calculatorOpen">
                        <i class="bi bi-calculator-fill"></i>
                        <span>Calculator</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" id="notesOpen">
                        <i class="bi bi-card-list"></i>
                        <span>Notes</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="notifications" id="sidebar-notifications">
              <div class="notifications-header">
                <i class="bi bi-bell-fill"></i>
                <p>Notifications</p>
                <img
                  src="/static/questions/img/dark_logo.png"
                  alt=""
                  id="sidebar-img-notifications"
                />
              </div>
              <div class="notification-row" id="notificationBack">
                <i class="bi bi-info-circle"></i>
                <div class="notifications-info">
                  <p>Questionnaire form received from Kaan Ören.</p>
                  <p class="notification-time">6 minutes ago</p>
                </div>
              </div>
           
             
              <div class="notification-bottom">
                <p>View all notifications.</p>
              </div>
            </div>
            <div class="notifications" id="sidebar-messages">
              <div class="notifications-header">
                <i class="bi bi-envelope-open-fill"></i>
                <p>Messages</p>
                <img
                  src="/static/questions/img/dark_logo.png"
                  alt=""
                  id="sidebar-img-messages"
                />
              </div>
              <div class="messages-row">
                <img src="/static/questions/img/user.jpg" alt="">
                <div class="notifications-info">
                  <p class="messages-name">Ali Furkan İNAN</p>
                  <p class="notification-time">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="messages-row">
                <img src="/static/questions/img/user.jpg" alt="">
                <div class="notifications-info">
                  <p class="messages-name">İbrahim YAŞAR</p>
                  <p class="notification-time">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="messages-row">
                <img src="/static/questions/img/user.jpg" alt="">
                <div class="notifications-info">
                  <p class="messages-name">Osman Kaan ÖREN</p>
                  <p class="notification-time">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="notification-bottom">
                <p>View all messages.</p>
              </div>
            </div>
            <div class="sidebar-settings-div" id="sidebar-settings">
              <div class="notifications-header">
                <i class="bi bi-gear-fill"></i>
                <p>Settings</p>
                <img
                  src="/static/questions/img/dark_logo.png"
                  alt=""
                  id="sidebar-img-messages"
                />
              </div>
              <div class="messages-row">
                
                <div class="notifications-info">
                  <p class="">My Profile</p>
                </div>
              </div>
              <div class="messages-row">
                
                <div class="notifications-info">
                  <p class="">Help</p>
                </div>
              </div>
              <div class="messages-row">
                
                <div class="notifications-info">
                  <p class="">Settings</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-footer">
          <div class="dropdown" id="sidebar-icon-notifications">
            <a href="#">
              <i class="bi bi-bell-fill"></i>
              <span class="notification__span">1</span>
            </a>
          </div>
          <div class="dropdown" id="sidebar-icon-messages">
            <a href="#">
              <i class="bi bi-envelope-fill"></i>
              <span class="message__span">3</span>
            </a>
          </div>
          <div class="dropdown" id="sidebar-icon-settings">
            <a href="#">
              <i class="bi bi-gear-fill"></i>
              <span class="settings__span"></span>
            </a>
          </div>
          <div class="dropdown" id="logoutDropdown">
            <a href="#">
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" id="logoutButton"><i class="bi bi-door-closed-fill"></i></button>
            </form>
            
            </a>
          </div>
        </div>
        {% include 'questions/tools.html' %}
      </nav>
      <div class="companiesDiv">
        <h2 style="margin-top: 10px;">Clients Panel</h2>
        <form method="POST" class="companiesAdd" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="company_name" placeholder="Enter company name">
          <input type="text" name="industry" placeholder="Enter industry">
          <input type="text" name="scope" placeholder="Enter scope">
          <input type="text" name="policies" placeholder="Enter policies"> <!-- policies alanını yeniden ekle -->
          <input type="text" name="quote" placeholder="Enter quote">
      
          <!-- Form gönderme butonu -->
          <button type="submit" class="button1" name="add_company">
              <span class="circle1"></span>
              <span class="circle2"></span>
              <span class="circle3"></span>
              <span class="circle4"></span>
              <span class="circle5"></span>
              <span class="text">Add Company</span>
          </button>
      </form>
      
    <hr style="margin-top:12px;">
    <h2 style="margin: 10px 0;">Existing Clients</h2>
    <input type="text" id="companySearch" style="border: 1px solid #bd0000; !important" placeholder="Search by company name">

<ul id="companyList">
  {% for company in companies %}
      <li data-name="{{ company.name }}">
          {{ company.name }}

          <p>Industry: {{ company.industry }}</p>
          <p>Scope: {{ company.scope }}</p>
          <p>Policies: {{ company.policies }}</p>
          <p>Quote: {{ company.quote }}</p>
          <form method="POST" action="{% url 'companies:edit_company' company.id %}">
              {% csrf_token %}
              <input type="text" name="new_name" placeholder="Enter new name">
              <input type="text" name="new_industry" placeholder="Enter new industry">
              <input type="text" name="new_scope" placeholder="Enter new scope">
              <input type="text" name="new_policies" placeholder="Enter new policies">
              <input type="text" name="new_quote" placeholder="Enter new quote">
              <button type="submit" class="button1" id="buttonEdit">
                  <span class="circle1"></span>
                  <span class="circle2"></span>
                  <span class="circle3"></span>
                  <span class="circle4"></span>
                  <span class="circle5"></span>
                  <span class="text" id="spanEdit" style="    padding: 13px;">Edit</span>
              </button>
              <button class="button1" type="submit" id="buttonDelete" style="background:red;">
                  <span class="circle1"></span>
                  <span class="circle2"></span>
                  <span class="circle3"></span>
                  <span class="circle4"></span>
                  <span class="circle5"></span>
                  <span class="text"  ><a href="{% url 'companies:delete_company' company.id %}" id="spanDelete" style="padding: 13px;text-decoration: none; color: #fff;">Delete</a></span>
              </button>
          </form>
      </li>
  {% endfor %}
</ul>


  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'companies/js/tools.js' %}"></script>
    <script src="{% static 'companies/js/script.js' %}"></script>
    <script src="{% static 'companies/js/sidebar.js' %}"></script>
</body>
</html>
