{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'Insurers/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'Insurers/css/question.css' %}" rel="stylesheet" />
    <link href="{% static 'Insurers/css/user.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/vfs_fonts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'Insurers/css/client.questions.css' %}" rel="stylesheet" />

    <link href="{% static 'Insurers/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'Insurers/css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>Insurers</title>
    <link rel="icon" href="/static/questions/img/xxx.png" >
  </head>
  <body>

      <nav class="sidebar sidebar-bg" id="sidebar">
        <div class="sidebar-content">
          <div class="perfect-scrollbar">
            <div class="ps">
              <div class="ps-content">
                <div class="sidebar-logo">
                  <img
                    src="{% static 'Insurers/img/dark_logo.png' %}"
                    class="img-responsive2"
                    alt=""
                  />
                  <p>DIGITALIZE EVERYTHING, NOW.</p>
                </div>
                <div class="sidebar-profile">
                  <div class="user-pic">
                    <img
                      src="{% static 'Insurers/img/xIcon.png' %}"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="user-info">
                    <span class="user-name">
                      {{ user.first_name }} <strong>{{ user.last_name }}</strong>
                    </span>
                    <span class="user-role">
                      {% if user.groups.exists %}
                {% for group in user.groups.all %}
                    <p class="groupP">{{ group.name }}<p>
               {% endfor %}
               {% else %}
               <p class="">Grupsuz</p>
               {% endif %}
                    </span>
                    <span class="user-status">
                      <i class="bi bi-circle-fill"></i>
                      <span>Online</span>
                    </span>
                  </div>
                  
                </div>
                <div class="sidebar-menu">
                  <ul>
                    <li>
                      <a href="">
                        <i class="bi bi-layers-fill"></i>
                        <span>Home</span>
                      </a>
                    </li>
                    <li><span class="generalText">General</span></li>
                    <li>
                        <a href="{% url 'questions:index' %}">
                          <i class="bi bi-layers-fill"></i>
                          <span>Send Questionnaire Form</span>
                        </a>
                      </li>
                   
                   
                    <li >
                        <a href="{% url 'clients:index' %}">
                          <i class="bi bi-ui-checks"></i>
                          <span>Clients</span>
                        </a>
                      </li>
                     <li style="background: #d6d6d62e">
                      <a href="{% url 'insurers:index' %}">
                        <i class="bi bi-brilliance"  style="color: #fff"></i>
                        <span  style="color: #fff">Insurers</span>
                      </a>
                    </li>

                    <li><span class="generalText">Extra</span></li>
                    <li>
                      <a href="#">
                        <i class="bi bi-journal-text"></i>
                        <span>Documentation</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-calendar-fill"></i>
                        <span>Calendar</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="bi bi-folder-fill"></i>
                        <span>Examples</span>
                      </a>
                    </li>
                   
                  </ul>
                </div>
              </div>
            </div>
            <div class="notifications" id="sidebar-notifications">
              <div class="notifications-header">
                <i class="bi bi-bell-fill"></i>
                <p>Notifications</p>
                <img
                  src="/static/Insurers/img/dark_logo.png"
                  alt=""
                  id="sidebar-img-notifications"
                />
              </div>
              <div class="notification-row" id="notificationBack">
                <i class="bi bi-info-circle"></i>
                <div class="notifications-info">
                  <p>Questionnaire form received from Kaan Ören.</p>
                  <p class="notification-time">6 minutes ago</p>
                </div>
              </div>
           
             
              <div class="notification-bottom">
                <p>View all notifications.</p>
              </div>
            </div>
            <div class="notifications" id="sidebar-messages">
              <div class="notifications-header">
                <i class="bi bi-envelope-open-fill"></i>
                <p>Messages</p>
                <img
                  src="/static/Insurers/img/dark_logo.png"
                  alt=""
                  id="sidebar-img-messages"
                />
              </div>
              <div class="messages-row">
                <img src="/static/Insurers/img/user.jpg" alt="">
                <div class="notifications-info">
                  <p class="messages-name">Ali Furkan İNAN</p>
                  <p class="notification-time">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="messages-row">
                <img src="/static/Insurers/img/user.jpg" alt="">
                <div class="notifications-info">
                  <p class="messages-name">İbrahim YAŞAR</p>
                  <p class="notification-time">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="messages-row">
                <img src="/static/Insurers/img/user.jpg" alt="">
                <div class="notifications-info">
                  <p class="messages-name">Osman Kaan ÖREN</p>
                  <p class="notification-time">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="notification-bottom">
                <p>View all messages.</p>
              </div>
            </div>
            <div class="sidebar-settings-div" id="sidebar-settings">
              <div class="notifications-header">
                <i class="bi bi-gear-fill"></i>
                <p>Settings</p>
                <img
                  src="/static/Insurers/img/dark_logo.png"
                  alt=""
                  id="sidebar-img-messages"
                />
              </div>
              <div class="messages-row">
                
                <div class="notifications-info">
                  <p class="">My Profile</p>
                </div>
              </div>
              <div class="messages-row">
                
                <div class="notifications-info">
                  <p class="">Help</p>
                </div>
              </div>
              <div class="messages-row">
                
                <div class="notifications-info">
                  <p class="">Settings</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-footer">
          <div class="dropdown" id="sidebar-icon-notifications">
            <a href="#">
              <i class="bi bi-bell-fill"></i>
              <span class="notification__span">1</span>
            </a>
          </div>
          <div class="dropdown" id="sidebar-icon-messages">
            <a href="#">
              <i class="bi bi-envelope-fill"></i>
              <span class="message__span">3</span>
            </a>
          </div>
          <div class="dropdown" id="sidebar-icon-settings">
            <a href="#">
              <i class="bi bi-gear-fill"></i>
              <span class="settings__span"></span>
            </a>
          </div>
          <div class="dropdown" id="logoutDropdown">
            <a href="#">
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" id="logoutButton"><i class="bi bi-door-closed-fill"></i></button>
            </form>
            
            </a>
          </div>
        </div>
      
      </nav>
      <div class="container" id="mainInsurers">
        <div class="row" id="search">
            <form id="search-form" action="" method="POST" enctype="multipart/form-data" style="display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 12px;">
            <div class="form-group col-3" style="display: flex;">
              <button type="button" onclick="" class="btn btn-block btn-primary" id="newClientAddButton" style="width: 84%;">Create New Insurer</button>
          </div>
                <div class="form-group col-6">
                    <input class="form-control" id="searchCompany" type="text" placeholder="Search" style="width: 100%; " />
                </div>
                <i class="bi bi-x-circle"  id="searchClear" style="font-size: 20px; cursor: pointer;"></i>
                <div class="form-group col-3" style="display: flex;">
                    <button type="button" onclick="filter()" class="btn btn-block btn-primary" style="width: 84%;">Search</button>
                </div>
            </form>
        </div>
        <div class="row" id="filter">
          <form style="display:flex; gap: 22px;">
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="company" class="filter-company filter form-control filtre">
                    <option value="">Show All - Insurer</option>
                    {% for company in companies %}
                        <option value="{{ company.name }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="industry" class="filter-industry filter form-control filtre">
                    <option value="">Show All - Industry</option>
                    {% for company in companies %}
                        <option value="{{ company.industry }}">{{ company.industry }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="scope" class="filter-scope filter form-control filtre">
                    <option value="">Show All - Scope</option>
                    {% for company in companies %}
                        <option value="{{ company.scope }}">{{ company.scope }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="policies" class="filter-policies filter form-control filtre">
                    <option value="">Show All - Policies</option>
                    {% for company in companies %}
                        <option value="{{ company.policies }}">{{ company.policies }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="quote" class="filter-quote filter form-control filtre">
                    <option value="">Show All - Quote</option>
                    {% for company in companies %}
                        <option value="{{ company.quote }}">{{ company.quote }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        
      </div>
      
      <form method="POST" class="companiesAdd" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" class="inputAdd" name="company_name" placeholder="Enter company name">
        <input type="text" class="inputAdd" name="industry" placeholder="Enter industry">
        <input type="text" class="inputAdd" name="scope" placeholder="Enter scope">
        <input type="text" class="inputAdd" name="policies" placeholder="Enter policies"> <!-- policies alanını yeniden ekle -->
        <input type="text" class="inputAdd" name="quote" placeholder="Enter quote">
    
        <!-- Form gönderme butonu -->
        <button type="submit" class="button1" name="add_company">
            <span class="circle1"></span>
            <span class="circle2"></span>
            <span class="circle3"></span>
            <span class="circle4"></span>
            <span class="circle5"></span>
            <span class="text">Add Insurer</span>
        </button>
        <i class="bi bi-x-circle" id="companyAddClose"></i>
        
    </form>
    <div class="row" id="users">
      <!-- Allianz Sigorta -->
      <div class="company-card" data-company="Allianz Sigorta" data-industry="" data-scope="" data-policies="" data-quote="">
          <div class="card">
              <div class="card-body">
                  <img src="{% static 'clients/img/allianz.png' %}" alt="Allianz Sigorta" class="img-fluid">
                  <p class="card-title">Allianz Sigorta</p>
                  <p class="card-text">Industry: </p>
                  <p class="card-text">Scope: </p>
                  <p class="card-text">Policies: </p>
                  <p class="card-text">Quote: </p>
                  <button type="button" class="btn btn-primary" data-company="Allianz Sigorta" onclick="window.location.href='/insurer_info/'">Insurer Info</button>

              </div>
          </div>
      </div>
  
      <!-- AVIVASA Sigorta -->
      <div class="company-card" data-company="AVIVASA Sigorta" data-industry="" data-scope="" data-policies="" data-quote="">
          <div class="card">
              <div class="card-body">
                  <img src="{% static 'clients/img/aviva.png' %}" alt="AVIVASA Sigorta" class="img-fluid">
                  <p class="card-title">AVIVASA Sigorta</p>
                  <p class="card-text">Industry: </p>
                  <p class="card-text">Scope: </p>
                  <p class="card-text">Policies: </p>
                  <p class="card-text">Quote: </p>
                  <button type="button" class="btn btn-primary" data-company="AVIVASA Sigorta" onclick="openClientInfo('AVIVASA Sigorta')">Insurer Info</button>
              </div>
          </div>
      </div>
  
      <!-- AXA Sigorta -->
      <div class="company-card" data-company="AXA Sigorta" data-industry="" data-scope="" data-policies="" data-quote="">
          <div class="card">
              <div class="card-body">
                  <img src="{% static 'clients/img/axa.jpg' %}" alt="AXA Sigorta" class="img-fluid">
                  <p class="card-title">AXA Sigorta</p>
                  <p class="card-text">Industry: </p>
                  <p class="card-text">Scope: </p>
                  <p class="card-text">Policies: </p>
                  <p class="card-text">Quote: </p>
                  <button type="button" class="btn btn-primary" data-company="AXA Sigorta" onclick="openClientInfo('AXA Sigorta')">Insurer Info</button>
              </div>
          </div>
      </div>
  
      <!-- AGESA Sigorta -->
      <div class="company-card" data-company="AGESA Sigorta" data-industry="" data-scope="" data-policies="" data-quote="">
          <div class="card">
              <div class="card-body">
                  <img src="{% static 'clients/img/agesa.png' %}" alt="AGESA Sigorta" class="img-fluid">
                  <p class="card-title">AGESA Sigorta</p>
                  <p class="card-text">Industry: </p>
                  <p class="card-text">Scope: </p>
                  <p class="card-text">Policies: </p>
                  <p class="card-text">Quote: </p>
                  <button type="button" class="btn btn-primary" data-company="AGESA Sigorta" onclick="openClientInfo('AGESA Sigorta')">Insurer Info</button>
              </div>
          </div>
      </div>
  
      <!-- Arkas Sigorta -->
      <div class="company-card" data-company="Arkas Sigorta" data-industry="" data-scope="" data-policies="" data-quote="">
          <div class="card">
              <div class="card-body">
                  <img src="{% static 'clients/img/arkas.png' %}" alt="Arkas Sigorta" class="img-fluid">
                  <p class="card-title">Arkas Sigorta</p>
                  <p class="card-text">Industry: </p>
                  <p class="card-text">Scope: </p>
                  <p class="card-text">Policies: </p>
                  <p class="card-text">Quote: </p>
                  <button type="button" class="btn btn-primary" data-company="Arkas Sigorta" onclick="openClientInfo('Arkas Sigorta')">Insurer Info</button>
              </div>
          </div>
      </div>
  </div>
  
  
      
    </div>
    
          
    <script>
      function openClientInfo(companyName) {
        var encodedCompanyName = encodeURIComponent(companyName.toLowerCase().replace(/\s+/g, '_'));
        var url = '/Insurers/insurer_info/' + encodedCompanyName;
        openClientInfoInNewTab(url);
    }
    
    function openClientInfoInNewTab(url) {
        window.open(url, "_blank");
    }
   // Tekrar eden optionları kaldırmak için bir fonksiyon
   function removeDuplicateOptions(selectElement) {
    var existingValues = {};
    var options = selectElement.querySelectorAll('option');
    var i = options.length;

    while (i--) {
        var currentValue = options[i].value;
        if (existingValues[currentValue]) {
            // Eğer değer daha önce görülmüşse, option'u kaldır
            selectElement.removeChild(options[i]);
        } else {
            // Eğer değer ilk kez görülüyorsa, o değeri işaret et
            existingValues[currentValue] = true;
        }
    }
}

// Her select elementi için tekrar eden optionları kaldır
var selectElements = document.querySelectorAll('.filter-policies, .filter-quote, .filter-scope, .filter-industry');
selectElements.forEach(function(selectElement) {
    removeDuplicateOptions(selectElement);
});
  // Tıklama işlemi
  document.getElementById("searchClear").addEventListener("click", function() {
    // searchCompany input alanını boşaltma
    document.getElementById("searchCompany").value = "";
    // filter() fonksiyonunu çağırma
    filter();
});
      </script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'Insurers/js/questions.js' %}"></script>

    <script src="{% static 'Insurers/js/user.js' %}"></script>

    <script src="{% static 'Insurers/js/client.questions.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tinysort/3.2.5/jquery.tinysort.min.js"></script>


    <script src="{% static 'Insurers/js/script.js' %}"></script>
    <script src="{% static 'Insurers/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Insurers/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Insurers/js/sidebar.js' %}"></script>


<script>
var data = []; //boş data oluştur


var allCards = document.getElementsByClassName("company-card") // tüm cardları liste olarak içerde tutar

for (var e of allCards){ //cardların içerisinde for dön
  var coreCard = e.children[0].children[0] // bilgilerin bulunduğu div e kadar içeri git
  var dt = { // card içerisindeki bilgileri kullanarak bir json oluştur 

    "company" : coreCard.children[1].textContent,
    "industry" : coreCard.children[2].textContent.split("Industry: ")[1],
    "scope" : coreCard.children[3].textContent.split("Scope: ")[1],
    "policies" : coreCard.children[4].textContent.split("Policies: ")[1],
    "quote" : coreCard.children[5].textContent.split("Quote: ")[1]
  }

  data.push(dt) // json u listenin içerisine at
}

var filtersObject = {}; //filtrelenen cardlar için kullanılıyor

$(".filtre").on("change",function() {
  var filterName = $(this).data("filter").toLowerCase(),
    filterVal = $(this).val();

  console.log(filterVal)
  if (filterVal == "") {
    delete filtersObject[filterName];
  } else {
    filtersObject[filterName] = filterVal;
  }
  
  var filters = "";
  
  for (var key in filtersObject) {
      if (filtersObject.hasOwnProperty(key)) {
      filters += "[data-"+key+"='"+filtersObject[key]+"']";
    }
  }
  
  if (filters == "") {
    $(".company-card").show();
  } else {
    $(".company-card").hide();
    $(".company-card").hide().filter(filters).show();
  }
});

function openClientInfo(companyName) {
  // Bu fonksiyonun içeriğini ihtiyaçlarınıza göre doldurun
  console.log(companyName + " clicked");
}

function filter(){
  var query = $("#search-form input").val().toLowerCase();

  $(".company-card").hide();
  $(".company-card").each(function() {
    var make = $(this).data("company").toLowerCase(),
      model = $(this).data("industry").toLowerCase(),
      type = $(this).data("scope").toLowerCase(),
      policies = $(this).data("policies").toLowerCase(),
      quote = $(this).data("quote").toLowerCase();


    if (make.indexOf(query) > -1 || model.indexOf(query) > -1 || type.indexOf(query) > -1 || policies.indexOf(query) > -1 || quote.indexOf(query) > -1) {
      $(this).show();
    }
  });
}

</script>



  </body>
</html>
