{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'clients/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/question.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/user2.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/vfs_fonts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="{% static 'clients/css/client.questions.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/tools.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/notification.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>Clients</title>
    <link rel="icon" href="/static/questions/img/xxx.png" >
    
  </head>
  <body>
<div id="mainDiv">
    <nav class="sidebar sidebar-bg" id="sidebar">
      <div class="sidebar-content">
        <div class="perfect-scrollbar">
          <div class="ps">
            <div class="ps-content">
              <div class="sidebar-logo">
                <img
                  src="{% static 'questions/img/white_logo.png' %}"
                  class="img-responsive2"
                  alt=""
                />
                <p>DIGITALIZE EVERYTHING, NOW.</p>
              </div>
              
              <div class="sidebar-menu">
                <ul>
                  <li>
                    <a href="{% url 'questions:dashboard' %}">
                      <i class="bi bi-house"></i>
                      <span>Home</span>
                    </a>
                  </li>
                  <li><span class="generalText">General</span></li>
                  
                  <li>
                    <a href="{% url 'questions:opportunities' %}">
                      <i class="bi bi-briefcase"></i>
                      <span>Opportunities</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'questions:add_records' %}">
                      <i class="bi bi-person-plus"></i>
                      <span>Add a Client/Insurer</span>
                    </a>
                  </li>
                  <li style="background: #3a3b3d">
                    <a href="{% url 'clients:index' %}">
                    
                      <i class="bi bi-person" style="color: #fff"></i>
                      <span style="color: #fff">Clients</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'insurers:index' %}">
                      <i class="bi bi-shield-check"></i>
                      <span>Insurers</span>
                    </a>
                  </li>
                  <li style="display:none;">
                    <a href="{% url 'insurers:index' %}">
                      <i class="bi bi-symmetry-horizontal"></i>
                      <span>Risk Reports</span>
                    </a>
                  </li>
                  <li style="display:none;">
                    <a href="{% url 'insurers:index' %}">
                      <i class="bi bi-award"></i>
                      <span>Claims</span>
                    </a>
                  </li>

                  <li style="display:none;"><span class="generalText">Extra</span></li>
                  <li style="display:none;">
                    <a href="#">
                      <i class="bi bi-journal-text"></i>
                      <span>Documentation</span>
                    </a>
                  </li>
                  <li style="display:none;">
                    <a href="#">
                      <i class="bi bi-calendar-fill"></i>
                      <span>Calendar</span>
                    </a>
                  </li>
                  <li style="display:none;">
                    <a href="#">
                      <i class="bi bi-folder-fill"></i>
                      <span>Examples</span>
                    </a>
                  </li>
                  <li><span class="generalText">Demo Links</span></li>
                  <li>
                    <a href="{% url 'questions:dashboard' %}">
                      <i class="bi bi-activity"></i>
                      <span>Broker Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'clientScreen:dashboard' %}">
                      <i class="bi bi-activity"></i>
                      <span>Client Home</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'insurerScreen:dashboard' %}">
                      <i class="bi bi-activity"></i>
                      <span>Insurer Home</span>
                    </a>
                  </li>  
                </ul>
                
               
              <ul>
                <hr>
                <li>
                  <a href="#">
                    <i class="bi bi-door-open-fill"></i>
                    <span>Logout</span>
                  </a>
                </li>
         
                
              </ul>
              </div>
            </div>
          </div>


        </div>
      </div>
  
    </nav>
    <div class="accordion-item2" style="border-radius: 0px;">
      <input type="checkbox" id="accordion1">
      <label for="accordion1" class="accordion-item-title">
   
        <div style="display:flex;    align-items: center;">
          <div class="notifTopDiv" style="">
          <i class="bi bi-bell" id="notificationBell" style="background-color: rgb(255, 255, 255);"></i>
          <div id="notificationMainDiv" style="display: none;">
            <div style="display:flex;" class="notificationsHeader">
            <p>Notifications</p>
            <a href="">View All</a>
            </div>
            <div class="notificationCardDiv">
              <span style="background: #516efd;"><i class="bi bi-shield-check"></i></span>
              <div class="notificationPDiv">
                <p class="notificationTitle">An insurance profile has been added</p>
                <p class="notificationDetail">Click here to go to the Insurance Profile page.</p>
                <p class="notificationTimeP"><i class="bi bi-clock"></i> 3 hours ago</p>
              </div>
            </div>
            <div class="notificationCardDiv">
              <span style="background: #3bbd88;"><i class="bi bi-patch-check"></i></span>
              <div class="notificationPDiv">
                <p class="notificationTitle">The questionnaire form was successfully submitted</p>
                <p class="notificationDetail">Mutlu Akü &amp; Allianz Sigorta Questionnaire Form has been delivered.</p>
                <p class="notificationTimeP"><i class="bi bi-clock"></i> 9 hours ago</p>
              </div>
            </div>
            <div class="notificationCardDiv">
              <span style="background: #516efd;"><i class="bi bi-arrow-repeat"></i></span>
              <div class="notificationPDiv">
                <p class="notificationTitle">The questionnaire has been answered</p>
                <p class="notificationDetail">The questionnaire was answered by Mert Güven - Mutlu Akü.</p>
                <p class="notificationTimeP"><i class="bi bi-clock"></i> 2 days ago</p>
              </div>
            </div>

          </div>
         
        </div>
          <button type="button" id="fullscreenButton" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen" style="background-color: rgb(255, 255, 255);">
            <i class="bi bi-fullscreen" id="fullscreenOpen" style="display: inline;"></i>
            <i class="bi bi-fullscreen-exit" id="fullscreenExit" style="display: none;"></i>
        </button>
        
        <div class="sidebar-profile" onclick="toggleDropdown()" id="profileDivID">
          <div class="user-pic">
            <img src="https://cdn3.pixelcut.app/1/3/profile_picture_1728ecf2bd.jpg" class="rounded-circle" alt="Profile Picture" width="40" height="40">
          </div>

          <div class="user-info d-flex align-items-center">
            <span class="user-name me-2">Melis Deniz</span>
            <i class="bi bi-chevron-right userIcon" id="userIcon"></i>
          </div>
          <div id="profileDropdownMenu" class="p-2 rounded">
            <a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i>Profile</a>
            <a class="dropdown-item" id="logoutA" href="#"><i class="bi bi-door-open-fill"></i>Logout</a>
          </div>
        </div>
</div>
        <span class="infoSpan" id="mainTitleP" style="    font-size: 16px !important;
padding: 6px;
font-weight: 700;color: #495057;
       ">CLIENTS</span>
      </label>
    </div>
      <div class="container" id="mainClients">
        <form id="search-form" action="" method="POST" enctype="multipart/form-data" style="display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 12px;">

<div class="form-group col-12">
    <input class="form-control" id="searchCompany" type="text" placeholder="Search" style="width: 100%;" oninput="filter()">
</div>


</form>

        <div class="row" id="filter">
          <form style="display:flex; gap: 14px;">
            <div class="form-group">
                <select data-filter="company" class="filter-company filter form-control filtre">
                    <option value="">Show All - Company</option>
                    {% for company in companies %}
                        <option value="{{ company.name }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select data-filter="industry" class="filter-industry filter form-control filtre">
                    <option value="">Show All - Industry</option>
                    {% for company in companies %}
                        <option value="{{ company.industry }}">{{ company.industry }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select data-filter="scope" class="filter-scope filter form-control filtre">
                    <option value="">Show All - Scope</option>
                    {% for company in companies %}
                        <option value="{{ company.scope }}">{{ company.scope }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select data-filter="policies" class="filter-policies filter form-control filtre">
                    <option value="">Show All - Policies</option>
                    {% for company in companies %}
                        <option value="{{ company.policies }}">{{ company.policies }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select data-filter="quote" class="filter-quote filter form-control filtre">
                    <option value="">Show All - Quote</option>
                    {% for company in companies %}
                        <option value="{{ company.quote }}">{{ company.quote }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        
      </div>
      
      <div id="addCompanyModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="padding: 10px;">
                <div class="modal-header">
                    <h5 class="modal-title">Add Client Modal</h5>
                    <button type="button" class="close" id="companyAddClose" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <form method="POST" class="companiesAdd" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
                    <label for="company_name" class="form-label">Client Logo</label>
                    <input type="file" class="inputAdd"  style="    padding: 3px;">
                    <label for="company_name" class="form-label">Client Name</label>
                    <input type="text" class="inputAdd" name="company_name" id="company_name" placeholder="Enter client name">
                    
                    <label for="industry" class="form-label">Industry</label>
                    <input type="text" class="inputAdd" name="industry" id="industry" placeholder="Enter industry">
                    
                    <label for="scope" class="form-label">Scope</label>
                    <input type="text" class="inputAdd" name="scope" id="scope" placeholder="Enter scope">
                    
                    <label for="policies" class="form-label">Policies</label>
                    <input type="text" class="inputAdd" name="policies" id="policies" placeholder="Enter policies">
                    
                    <label for="quote" class="form-label">Quote</label>
                    <input type="text" class="inputAdd" name="quote" id="quote" placeholder="Enter quote">
                    
                    <!-- Form gönderme butonu -->
                    <button type="submit" class="btn btn-primary" name="add_company" style="    font-size: 13px;
    padding: 0px;
    width: 100%;
    height: 30px;
    border-radius: 2px;">Add Client</button>
                </form>
                
                </div>
            </div>
        </div>
    </div>
      <div class="row" id="users">
        {% for company in companies %}
    <div class="company-card" data-company="{{ company.name }}" data-industry="{{ company.industry }}" data-scope="{{ company.scope }}" data-policies="{{ company.policies }}" data-quote="{{ company.quote }}">
        <div class="card">
            <div class="card-body">
            <div>
                {% if company.name == "Mutlu Akü" %}
                    <img src="{% static 'clients/img/mutlu.jpg' %}" alt="Mutlu Akü" class="img-fluid">
                {% elif company.name == "Bera Holding" %}
                    <img src="{% static 'clients/img/bera.png' %}" alt="Bera Holding" class="img-fluid">
                {% elif company.name == "Company" %}
                    <img src="{% static 'clients/img/lockton.png' %}" alt="Lockton" class="img-fluid">
                {% elif company.name == "DigiBroX" %}
                    <img src="{% static 'clients/img/dark_logo.png' %}" style="width: 82px;" alt="DigiBroX" class="img-fluid">
                {% elif company.name == "Cosmos Yatırım Holding" %}
                    <img src="{% static 'clients/img/cosmos.jpeg' %}" style="width: 83px;" alt="Cosmos" class="img-fluid">
                {% elif company.name == "Iz Yatırım Holding" %}
                    <img src="{% static 'clients/img/izyatirim.jpeg' %}" style="width: 128px;" alt="İz Yatırım" class="img-fluid">
                {% elif company.name == "EnerjiSA Enerji" %}
                    <img src="{% static 'clients/img/enerjisa.png' %}" style="width: 71px; " alt="EnerjiSA" class="img-fluid">
                {% elif company.name == "Mazhar Zorlu Holding" %}
                    <img src="{% static 'clients/img/mazhar.png' %}" style="width: 54px;" alt="Mazhar Zorlu Holding" class="img-fluid">
                {% else %}
                    <img src="{% static 'clients/img/default_logo.png' %}" style="    width: 29px;" alt="Default Logo" class="img-fluid">
                    
                {% endif %}
                <p class="card-title" style="font-weight:600 !important;">{{ company.name }}</p>
            </div>
                <p class="card-text"><span>Industry: </span> {{ company.industry }}</p>
                <p class="card-text"><span>Scope: </span> {{ company.scope }}</p>
                <p class="card-text"><span>Policies: </span> {{ company.policies }}</p>
                <p class="card-text"><span>Quote: </span> {{ company.quote }}</p>
                <button type="button" class="btn btn-primary" data-company="{{ company.name }}" onclick="openClientInfo('{{ company.name }}')">Client Info <i class="bi bi-arrow-right-short"></i></button>
            </div>
        </div>
    </div>
{% endfor %}

    </div>
      
    </div>
    
  </div>
  <script src="{% static 'questions/js/sidebar.js' %}"></script>
  <script src="{% static 'questions/js/notification.js' %}"></script>
    <script>
      function openClientInfo(companyName) {
        var encodedCompanyName = encodeURIComponent(companyName.toLowerCase().replace(/\s+/g, '_'));
        var url = '/clients/client_info/' + encodedCompanyName;
        openClientInfoInNewTab(url);
    }
    
    function openClientInfoInNewTab(url) {
        window.open(url, "_blank");
    }
   // Tekrar eden optionları kaldırmak için bir fonksiyon
   function removeDuplicateOptions(selectElement) {
    var existingValues = {};
    var options = selectElement.querySelectorAll('option');
    var i = options.length;

    while (i--) {
        var currentValue = options[i].value;
        if (existingValues[currentValue]) {
            // Eğer değer daha önce görülmüşse, option'u kaldır
            selectElement.removeChild(options[i]);
        } else {
            // Eğer değer ilk kez görülüyorsa, o değeri işaret et
            existingValues[currentValue] = true;
        }
    }
}
// Modal'ı açma
document.getElementById('newClientAddButton').addEventListener('click', function () {
  document.getElementById('addCompanyModal').style.display = 'block';
});

// Modal'ı kapatma
document.getElementById('companyAddClose').addEventListener('click', function () {
  document.getElementById('addCompanyModal').style.display = 'none';
});

// Modal dışında bir yere tıklanırsa kapatma
window.addEventListener('click', function(event) {
  var modal = document.getElementById('addCompanyModal');
  if (event.target === modal) {
      modal.style.display = 'none';
  }
});

// Her select elementi için tekrar eden optionları kaldır
var selectElements = document.querySelectorAll('.filter-policies, .filter-quote, .filter-scope, .filter-industry');
selectElements.forEach(function(selectElement) {
    removeDuplicateOptions(selectElement);
});
  // Tıklama işlemi
  document.getElementById("searchClear").addEventListener("click", function() {
    // searchCompany input alanını boşaltma
    document.getElementById("searchCompany").value = "";
    // filter() fonksiyonunu çağırma
    filter();
});
      </script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'clients/js/questions.js' %}"></script>
    <script src="{% static 'clients/js/tools.js' %}"></script>
    <script src="{% static 'clients/js/user.js' %}"></script>

    <script src="{% static 'clients/js/client.questions.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tinysort/3.2.5/jquery.tinysort.min.js"></script>


    <script src="{% static 'clients/js/script.js' %}"></script>
    <script src="{% static 'clients/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'clients/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'clients/js/sidebar.js' %}"></script>


<script>
var data = []; //boş data oluştur


var allCards = document.getElementsByClassName("company-card") // tüm cardları liste olarak içerde tutar

for (var e of allCards){ //cardların içerisinde for dön
  var coreCard = e.children[0].children[0] // bilgilerin bulunduğu div e kadar içeri git
  var dt = { // card içerisindeki bilgileri kullanarak bir json oluştur 

    "company" : coreCard.children[1].textContent,
    "industry" : coreCard.children[2].textContent.split("Industry: ")[1],
    "scope" : coreCard.children[3].textContent.split("Scope: ")[1],
    "policies" : coreCard.children[4].textContent.split("Policies: ")[1],
    "quote" : coreCard.children[5].textContent.split("Quote: ")[1]
  }

  data.push(dt) // json u listenin içerisine at
}

var filtersObject = {}; //filtrelenen cardlar için kullanılıyor

$(".filtre").on("change",function() {
  var filterName = $(this).data("filter").toLowerCase(),
    filterVal = $(this).val();

  console.log(filterVal)
  if (filterVal == "") {
    delete filtersObject[filterName];
  } else {
    filtersObject[filterName] = filterVal;
  }
  
  var filters = "";
  
  for (var key in filtersObject) {
      if (filtersObject.hasOwnProperty(key)) {
      filters += "[data-"+key+"='"+filtersObject[key]+"']";
    }
  }
  
  if (filters == "") {
    $(".company-card").show();
  } else {
    $(".company-card").hide();
    $(".company-card").hide().filter(filters).show();
  }
});


function filter(){
  var query = $("#search-form input").val().toLowerCase();

  $(".company-card").hide();
  $(".company-card").each(function() {
    var make = $(this).data("company").toLowerCase(),
      model = $(this).data("industry").toLowerCase(),
      type = $(this).data("scope").toLowerCase(),
      policies = $(this).data("policies").toLowerCase(),
      quote = $(this).data("quote").toLowerCase();


    if (make.indexOf(query) > -1 || model.indexOf(query) > -1 || type.indexOf(query) > -1 || policies.indexOf(query) > -1 || quote.indexOf(query) > -1) {
      $(this).show();
    }
  });
}
</script>



  </body>
</html>
