{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'clients/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/question.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/user.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/vfs_fonts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="{% static 'clients/css/client.questions.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/tools.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'clients/css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>Clients</title>
    <link rel="icon" href="/static/questions/img/xxx.png" >
  </head>
  <body>
<div id="mainDiv">
    <nav class="sidebar sidebar-bg" id="sidebar">
      <div class="sidebar-content">
        <div class="perfect-scrollbar">
          <div class="ps">
            <div class="ps-content">
              <div class="sidebar-logo">
                <img
                  src="{% static 'questions/img/white_logo.png' %}"
                  class="img-responsive2"
                  alt=""
                />
                <p>DIGITALIZE EVERYTHING, NOW.</p>
              </div>
              <div class="sidebar-profile">
                <div class="user-pic">
                  <img
                    src="https://cdn3.pixelcut.app/1/3/profile_picture_1728ecf2bd.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </div>
                <div class="user-info">
                  <span class="user-name">
                    Melis<strong> Deniz</strong>
                  </span>
                  <span class="user-role">
    
                  <p class="groupP">Broker<p>
      
                  </span>
                  <span class="user-status">
                    <i class="bi bi-circle-fill"></i>
                    <span>Online</span>
                  </span>
                </div>
              </div>
              <div class="sidebar-menu">
                <ul>
                  <li>
                    <a href="{% url 'questions:dashboard' %}">
                      <i class="bi bi-layers-fill"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li><span class="generalText">General</span></li>
                  
                  <li>
                    
                      <a href="{% url 'questions:index' %}">
                      <i class="bi bi-ui-checks"></i>
                      <span>Questionnaire Form</span>
                    </a>
                  </li>
                  <li style="background: #3a3b3d">
                    <a href="{% url 'clients:index' %}">
                      <i class="bi bi-layers-fill" style="color: #fff"></i>
                      <span style="color: #fff">Clients</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'insurers:index' %}">
                      <i class="bi bi-brilliance"></i>
                      <span>Insurers</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'insurers:index' %}">
                      <i class="bi bi-symmetry-horizontal"></i>
                      <span>Risk Reports</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'insurers:index' %}">
                      <i class="bi bi-award"></i>
                      <span>Claims</span>
                    </a>
                  </li>

                  <li><span class="generalText">Extra</span></li>
                  <li>
                    <a href="#">
                      <i class="bi bi-journal-text"></i>
                      <span>Documentation</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-calendar-fill"></i>
                      <span>Calendar</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-folder-fill"></i>
                      <span>Examples</span>
                    </a>
                  </li>
                       
                </ul>
                
               
              <ul>
                <hr>
                <li>
                  <a href="#">
                    <i class="bi bi-door-open-fill"></i>
                    <span>Logout</span>
                  </a>
                </li>
         
                
              </ul>
              </div>
            </div>
          </div>


        </div>
      </div>
  
    </nav>
    
      <div class="container" id="mainClients">
        <div class="row" id="search">
            <form id="search-form" action="" method="POST" enctype="multipart/form-data" style="display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 12px;">
            <div class="form-group col-3" style="display: flex;">
              <button type="button" onclick="" class="btn btn-block btn-primary" id="newClientAddButton" style="width: 84%;">Create New Client</button>
          </div>
                <div class="form-group col-6">
                    <input class="form-control" id="searchCompany" type="text" placeholder="Search" style="width: 100%; " />
                </div>
                <i class="bi bi-x-circle"  id="searchClear" style="font-size: 20px; cursor: pointer;"></i>
                <div class="form-group col-3" style="display: flex;">
                    <button type="button" onclick="filter()" class="btn btn-block btn-primary" style="width: 84%;">Search</button>
                </div>
            </form>
        </div>
        <div class="row" id="filter">
          <form style="display:flex; gap: 22px;">
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="company" class="filter-company filter form-control filtre">
                    <option value="">Show All - Company</option>
                    {% for company in companies %}
                        <option value="{{ company.name }}">{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="industry" class="filter-industry filter form-control filtre">
                    <option value="">Show All - Industry</option>
                    {% for company in companies %}
                        <option value="{{ company.industry }}">{{ company.industry }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="scope" class="filter-scope filter form-control filtre">
                    <option value="">Show All - Scope</option>
                    {% for company in companies %}
                        <option value="{{ company.scope }}">{{ company.scope }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="policies" class="filter-policies filter form-control filtre">
                    <option value="">Show All - Policies</option>
                    {% for company in companies %}
                        <option value="{{ company.policies }}">{{ company.policies }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-2 col-xs-6">
                <select data-filter="quote" class="filter-quote filter form-control filtre">
                    <option value="">Show All - Quote</option>
                    {% for company in companies %}
                        <option value="{{ company.quote }}">{{ company.quote }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        
      </div>
      
      <form method="POST" class="companiesAdd" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" class="inputAdd" name="company_name" placeholder="Enter company name">
        <input type="text" class="inputAdd" name="industry" placeholder="Enter industry">
        <input type="text" class="inputAdd" name="scope" placeholder="Enter scope">
        <input type="text" class="inputAdd" name="policies" placeholder="Enter policies"> <!-- policies alanını yeniden ekle -->
        <input type="text" class="inputAdd" name="quote" placeholder="Enter quote">
    
        <!-- Form gönderme butonu -->
        <button type="submit" class="button1" name="add_company">
            <span class="circle1"></span>
            <span class="circle2"></span>
            <span class="circle3"></span>
            <span class="circle4"></span>
            <span class="circle5"></span>
            <span class="text">Add Company</span>
        </button>
        <i class="bi bi-x-circle" id="companyAddClose"></i>
        
    </form>
      <div class="row" id="users">
        {% for company in companies %}
    <div class="company-card" data-company="{{ company.name }}" data-industry="{{ company.industry }}" data-scope="{{ company.scope }}" data-policies="{{ company.policies }}" data-quote="{{ company.quote }}">
        <div class="card">
            <div class="card-body">
                {% if company.name == "Mutlu Akü" %}
                    <img src="{% static 'clients/img/mutlu.jpg' %}" alt="Mutlu Akü" class="img-fluid">
                {% elif company.name == "Bera Holding" %}
                    <img src="{% static 'clients/img/bera.png' %}" alt="Bera Holding" class="img-fluid">
                {% elif company.name == "Company" %}
                    <img src="{% static 'clients/img/lockton.png' %}" alt="Lockton" class="img-fluid">
                {% elif company.name == "DigiBroX" %}
                    <img src="{% static 'clients/img/dark_logo.png' %}" style="width: 127px;" alt="DigiBroX" class="img-fluid">
                {% elif company.name == "Cosmos Yatırım Holding" %}
                    <img src="{% static 'clients/img/cosmos.jpeg' %}" style="width: 105px; padding-bottom: 5px;" alt="Cosmos" class="img-fluid">
                {% elif company.name == "Iz Yatırım Holding" %}
                    <img src="{% static 'clients/img/izyatirim.jpeg' %}" style="width: 160px; margin-bottom: 6px;" alt="İz Yatırım" class="img-fluid">
                {% elif company.name == "EnerjiSA Enerji" %}
                    <img src="{% static 'clients/img/enerjisa.png' %}" style="width: 84px; height: 45px; margin-top: -14px;" alt="EnerjiSA" class="img-fluid">
                {% elif company.name == "Mazhar Zorlu Holding" %}
                    <img src="{% static 'clients/img/mazhar.png' %}" style="width: 78px;" alt="Mazhar Zorlu Holding" class="img-fluid">
                {% else %}
                    <img src="{% static 'clients/img/default_logo.png' %}" style="    width: 40px;" alt="Default Logo" class="img-fluid">
                    
                {% endif %}
                <p class="card-title">{{ company.name }}</p>
                <p class="card-text">Industry: {{ company.industry }}</p>
                <p class="card-text">Scope: {{ company.scope }}</p>
                <p class="card-text">Policies: {{ company.policies }}</p>
                <p class="card-text">Quote: {{ company.quote }}</p>
                <button type="button" class="btn btn-primary" data-company="{{ company.name }}" onclick="openClientInfo('{{ company.name }}')">Client Info</button>
            </div>
        </div>
    </div>
{% endfor %}

    </div>
      
    </div>
    
  </div>
    <script>
      function openClientInfo(companyName) {
        var encodedCompanyName = encodeURIComponent(companyName.toLowerCase().replace(/\s+/g, '_'));
        var url = '/clients/client_info/' + encodedCompanyName;
        openClientInfoInNewTab(url);
    }
    
    function openClientInfoInNewTab(url) {
        window.open(url, "_blank");
    }
   // Tekrar eden optionları kaldırmak için bir fonksiyon
   function removeDuplicateOptions(selectElement) {
    var existingValues = {};
    var options = selectElement.querySelectorAll('option');
    var i = options.length;

    while (i--) {
        var currentValue = options[i].value;
        if (existingValues[currentValue]) {
            // Eğer değer daha önce görülmüşse, option'u kaldır
            selectElement.removeChild(options[i]);
        } else {
            // Eğer değer ilk kez görülüyorsa, o değeri işaret et
            existingValues[currentValue] = true;
        }
    }
}

// Her select elementi için tekrar eden optionları kaldır
var selectElements = document.querySelectorAll('.filter-policies, .filter-quote, .filter-scope, .filter-industry');
selectElements.forEach(function(selectElement) {
    removeDuplicateOptions(selectElement);
});
  // Tıklama işlemi
  document.getElementById("searchClear").addEventListener("click", function() {
    // searchCompany input alanını boşaltma
    document.getElementById("searchCompany").value = "";
    // filter() fonksiyonunu çağırma
    filter();
});
      </script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'clients/js/questions.js' %}"></script>
    <script src="{% static 'clients/js/tools.js' %}"></script>
    <script src="{% static 'clients/js/user.js' %}"></script>

    <script src="{% static 'clients/js/client.questions.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tinysort/3.2.5/jquery.tinysort.min.js"></script>


    <script src="{% static 'clients/js/script.js' %}"></script>
    <script src="{% static 'clients/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'clients/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'clients/js/sidebar.js' %}"></script>


<script>
var data = []; //boş data oluştur


var allCards = document.getElementsByClassName("company-card") // tüm cardları liste olarak içerde tutar

for (var e of allCards){ //cardların içerisinde for dön
  var coreCard = e.children[0].children[0] // bilgilerin bulunduğu div e kadar içeri git
  var dt = { // card içerisindeki bilgileri kullanarak bir json oluştur 

    "company" : coreCard.children[1].textContent,
    "industry" : coreCard.children[2].textContent.split("Industry: ")[1],
    "scope" : coreCard.children[3].textContent.split("Scope: ")[1],
    "policies" : coreCard.children[4].textContent.split("Policies: ")[1],
    "quote" : coreCard.children[5].textContent.split("Quote: ")[1]
  }

  data.push(dt) // json u listenin içerisine at
}

var filtersObject = {}; //filtrelenen cardlar için kullanılıyor

$(".filtre").on("change",function() {
  var filterName = $(this).data("filter").toLowerCase(),
    filterVal = $(this).val();

  console.log(filterVal)
  if (filterVal == "") {
    delete filtersObject[filterName];
  } else {
    filtersObject[filterName] = filterVal;
  }
  
  var filters = "";
  
  for (var key in filtersObject) {
      if (filtersObject.hasOwnProperty(key)) {
      filters += "[data-"+key+"='"+filtersObject[key]+"']";
    }
  }
  
  if (filters == "") {
    $(".company-card").show();
  } else {
    $(".company-card").hide();
    $(".company-card").hide().filter(filters).show();
  }
});


function filter(){
  var query = $("#search-form input").val().toLowerCase();

  $(".company-card").hide();
  $(".company-card").each(function() {
    var make = $(this).data("company").toLowerCase(),
      model = $(this).data("industry").toLowerCase(),
      type = $(this).data("scope").toLowerCase(),
      policies = $(this).data("policies").toLowerCase(),
      quote = $(this).data("quote").toLowerCase();


    if (make.indexOf(query) > -1 || model.indexOf(query) > -1 || type.indexOf(query) > -1 || policies.indexOf(query) > -1 || quote.indexOf(query) > -1) {
      $(this).show();
    }
  });
}
</script>



  </body>
</html>
