{% load static %}
<div class="calculator" id="calculator" style=" background-image: url({% static 'questions/img/sidebarBg.jpg' %});">
    <div class="calculator-header" id="calculator-header">
        <p class="calculator-title">Calculator</p>
        <i class="bi bi-x-circle" id="closeCalculator"></i>
    </div>
    <div class="calculator-content" id="calculator-content">
        <input type="text" id="display" class="" readonly>
        <div class="buttons">
            <button class="button2" onclick="clearDisplay()">C</button>
            <button class="button2" onclick="appendToDisplay('(')"> ( </button>
            <button class="button2" onclick="appendToDisplay(')')"> ) </button>
            <button class="button2" onclick="appendToDisplay('/')"> / </button>
            <button class="button2" onclick="appendToDisplay('7')">7</button>
            <button class="button2" onclick="appendToDisplay('8')">8</button>
            <button class="button2" onclick="appendToDisplay('9')">9</button>
            <button class="button2" onclick="appendToDisplay('*')"> * </button>
            <button class="button2" onclick="appendToDisplay('4')">4</button>
            <button class="button2" onclick="appendToDisplay('5')">5</button>
            <button class="button2" onclick="appendToDisplay('6')">6</button>
            <button class="button2" onclick="appendToDisplay('-')"> - </button>
            <button class="button2" onclick="appendToDisplay('1')">1</button>
            <button class="button2" onclick="appendToDisplay('2')">2</button>
            <button class="button2" onclick="appendToDisplay('3')">3</button>
            <button class="button2" onclick="appendToDisplay('+')"> + </button>
            <button class="button2" onclick="appendToDisplay('0')">0</button>
            <button class="button2" onclick="calculateResult()">=</button>
        </div>
    </div>
</div>

<div class="notes" id="notes" style=" background-image: url({% static 'questions/img/sidebarBg.jpg' %});">
    <div class="notes-header" id="notes-header">
        <button class="Btn" id="addNote">
            <span class="svgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
            </span>
            <span class="BG"></span>
           </button>
        <p class="calculator-title">Notes</p>
       
        <i class="bi bi-x-circle" id="closeNotes"></i>
    </div>
    <div class="notesAdd" id="notesAdd">
            <textarea class="notesAddTextarea" id="newNoteTextarea" placeholder="Type your note here..."></textarea>
        <div class="notesButtons">
            <button class="cancelButton buttonNote" id="cancelButton">Cancel</button>
            <button class="saveButton buttonNote" id="saveButton">Save</button>   
        </div>
    </div>
    <div class="notesMainDiv" id="notesMainDiv">
    <div class="notesNote" id="notesNote">
       
    <div class="noteInfoDiv">
        <p class="noteInfo">#1 05.04.2024 - 10:22</p>
    <div class="notesInfoIcons">
        <i class="bi bi-alarm"></i>

        <i class="bi bi-trash3"></i>
    </div>
    </div>
    <textarea class="notesTextarea" id="newNoteTextarea" placeholder="">This is a test message.</textarea>
</div>    


<div class="notesNote" id="notesNote">
       
    <div class="noteInfoDiv">
        <p class="noteInfo">#2 05.04.2024 - 11:22</p>
    <div class="notesInfoIcons">
        <i class="bi bi-alarm"></i>

        <i class="bi bi-trash3"></i>
    </div>
    </div>
    <textarea class="notesTextarea" id="newNoteTextarea" placeholder="">This is a test message.</textarea>
</div>   
<div class="notesNote" id="notesNote">
       
    <div class="noteInfoDiv">
        <p class="noteInfo">#3 05.04.2024 - 12:22</p>
    <div class="notesInfoIcons">
        <i class="bi bi-alarm"></i>

        <i class="bi bi-trash3"></i>
    </div>
    </div>
    <textarea class="notesTextarea" id="newNoteTextarea" placeholder="">This is a test message.</textarea>
</div>   
</div>
</div>