.input-group-append {
  cursor: pointer;
}
.product-input {
  width: max-content;
  gap: 7px;
}
#informationDivButton.clicked {
  background-color: blue;
}
#yanginAccordion,
#ECAccordion,
#MKAccordion,
#IMMAccordion,
#TPLAccordion{
  display: none;
}
#productRadios{
  display: flex;
}
.accordion-button {
  border: none;
  background-color: #f1f1f1;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.accordion-button:hover {
  background-color: #dcdcdc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button.active {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}
.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
}

.checkbox-wrapper .container input {
  opacity: 1;
  -webkit-appearance: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 8px solid #dedede;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.checkbox-wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  border-radius: 4px;
  gap: 10px;
  font-weight: 600;
  padding-right: 53px;
}

.checkbox-wrapper .container input::after {
  transition: 0.5s;
  font-family: monospace;
  content: "";
  border: solid #dedede;
  font-size: 25px;
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.checkbox-wrapper .container input:checked {
  transition: 0.5s;
  border: 8px solid #556ee6;
}

.checkbox-wrapper .container input:checked::after {
  transition: 0.5s;
  border: solid #556ee6;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.mainDesc {
  min-height: 812px;
  position: relative;
}
.mainDesc hr {
  color: #fff !important;
}
.checkmark {
  cursor: pointer;
}
.checkBoxRightDiv button{
  padding: 3px 5px !important;
}
.mainDescBg {
  background: #eeeeee;
    position: absolute;
    background-size: cover;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    /* filter: brightness(70%) contrast(90%) grayscale(10%); */
    width: calc(100%);
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-top: -10px;
    height: 100%;
}
.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;

}

.input-border {
  position: absolute;
  background: var(--border-after-color) !important;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0%);
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) !important;
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  transform: scaleX(100%) !important;
}

.inputSize1 {
  position: relative !important;
  padding: 0 !important;
  --width-of-input: 300px !important;
  width: 14% !important;
  border: none !important;
}
.inputSize2 {
  position: relative !important;
  padding: 0 !important;
  --width-of-input: 300px !important;
  width: 34% !important;
  border: none !important;
}
.inputSizeSub1 {
  position: relative !important;
  padding: 0 !important;
  --width-of-input: 300px !important;
  width: 100% !important;
  border: none !important;
}
.inputSizeSub3 {
  position: relative !important;
  padding: 0 !important;
  --width-of-input: 300px !important;
  width: 130% !important;
  border: none !important;
}
.fitP {
  min-width: fit-content;
}

.specInputDiv {
  margin-top: 0 !important;
}
.questionInputDiv {
  display: flex;
  gap: 15px;
  align-items: center;
}
.mainQuestionDiv__check {
  margin: 0.7px 0;
}
.mainQuestionDiv__check input,
.subQuestionDiv2 textarea {
  pointer-events: none;
}
.mainQuestionDiv__check p {
  width: 200px;
}
.questionInputDiv__check {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #b8b8b8;
  padding: 7px;
}
.mainQuestionDiv {
  margin: 6.7px 0;
  border-bottom: 1px solid #b1b1b199;
  padding-bottom: 5px;
}

.accordionBg hr {
  margin: 0;
  border-color: #424249;
}
textarea:focus {
  outline: none;
}
.subQuestionDiv textarea {
  resize: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  height: 58px;
  border: 1px solid #10182033;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.3em;
}
.subQuestionDiv2 textarea {
  resize: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  height: 58px;
  border: 1px solid #10182033;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.3em;
}
#olay__textarea__check2,#olay__textarea__check3{
  resize: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 49.8%;
  height: 58px;
  border: 1px solid #10182033;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.3em;
}

.questionInputDiv p {
  font-size: inherit;
  font-weight: 500;
  min-width: max-content;
}
.input-alt {
  font-size: 14px;
  color: #495057;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  padding: .37rem .45rem;
  border-radius: 0.25rem;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;

}
.first_title_p{
  font-weight: 400;
}

.input-border-alt {
  height: 1px !important;
  background: linear-gradient(
    90deg,
    #a393bf 50%,
    #50646f 70%,
    #47556d 100%
  ) !important;
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1) !important;
}

.input-alt:focus + .input-border-alt {
  transform: scaleX(100%);
}
.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: inline-block;
  width: 40px;
  zoom: 0.7;
  margin-left: auto;
  height: 40px;
}

.checkbox-wrapper-31 .background {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .background2 {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .background {
  fill: #6cbe45;
}
.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .background2 {
  fill: #457bbe;
}
.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
}
#hasar_gecmisi_tarih {
  margin-left: 5px;
}
#koordinat_N {
  margin-left: 44px;
}
#telefon {
  margin-left: 95px;
}
#personel_sayisi {
  margin-left: 38px;
}
#faaliyet {
  margin-left: 91px;
}
#adres_il {
  margin-left: 36px;
}
#sigortali_adi {
  margin-left: 63px;
}
#teklif_no {
  margin-left: 33px;
}
#tarih {
  margin-left: 112px;
}
#email_input {
  margin-left: 32px;
  
}
#tutar {
  margin-left: 41px;
  display: flex;
  gap: 5px;
}
#koordinat_E {
  margin-left: 65px;
}
#ilce {
  margin-left: 52px;
}
#mahalle {
  margin-left: 161px;
}
#vardiya {
  margin-left: 119px;
}
#vkn_input {
  margin-left: 182px;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .locktonSvgAdd{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }

  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }

  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }

  .checkbox-wrapper-13 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}

.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

.form-control-checkbox {
  display: flex;
  gap: 7px;
  align-items: center;
}


#yanginDivButton2{
  padding: 10px 10px 10px 59px;
  position: absolute;
  left: 4px;
  top: 3px;
}
#ECDivButton2{
  padding: 10px 34px 10px 59px;
  position: absolute;
  left: 129px;
  top: 3px;
}
#MKDivButton2{
  padding: 10px 34px 10px 59px;
  position: absolute;
  left: 251px;
  top: 3px;
}
#IMMDivButton2{
  padding: 10px 34px 10px 59px;
  position: absolute;
  left: 371px;
  top: 3px;
}
#TPLDivButton2{
  padding: 10px 34px 10px 59px;
  position: absolute;
  left: 493px;
  top: 3px;
}


.editP{
  width: 275px !important;
}


.editP2{
  width: 150px !important;
}
.adetDiv {
  margin-left: 50px;
}
.checkboxSpecDiv {
  margin-left: 43px;
}
.min-width {
  min-width: max-content;
}
#dizel_yok {
  margin-left: 23px;
}
#aciklama_input {
  margin-left: 30px;
  min-width: 379px;
}
.specHr {
  margin: 7px 0 !important;
}
.checkbox-container_info {
  display: flex;
  position: relative;
  /* padding-left: 22px; */
  margin-top: 4px;
  cursor: pointer;
  gap: 7px;
  font-size: 14px;
  user-select: none;
  align-items: center;
}
.checkbox-container_info p {
  font-size: 14px;
}
.custom-checkbox_info {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark_info {
  zoom: 0.83;

  top: 1.5px;
  left: 2px;
  height: 20px;
  width: 20px;
  background-color: #d6d6d6;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.checkmark_info:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 7.3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox_info:checked ~ .checkmark_info {
  background-color: #2196f3;
  box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox_info:checked ~ .checkmark_info:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox_info:checked ~ .checkmark_info:after {
  animation: checkAnim 0.2s forwards;
}
.checkBoxRightDiv {
  display: flex;
  margin-left: auto;
  gap: 10px;
  margin-bottom: 1px;
}
.topButtonDiv {
  display: flex;
  gap: 15px;
  align-items: end;

}
#bilgilendirmeDiv{
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #40424c;
}
.uploadHr{
  color: #007bff !important;
  margin: 1px auto;
  width: 90%;
}
.buttonIcon {
  width: 47px;
}
#mainDesc {
  display: block;
overflow: hidden;
}
#PCRadio{
  background: #556ee6 !important;
}
#PCRadio span{
  color: #fff !important;
}
#specHrr {
  display: none;
  margin-top: 5px;
}
/* Hide the default checkbox */
.container__spec input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container__spec {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark__spec {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  background: #e8e8e8;
  transition-duration: 0.5s;
}

.checkmark__spec:after {
  content: "";
  position: absolute;
  opacity: 0;
}

.container__spec input:checked ~ .checkmark__spec:after {
  opacity: 1;
}

.container__spec .checkmark__spec:after {
  left: 0.48em;
  top: 0.28em;
  width: 0.3em;
  height: 0.59em;
  border: solid #4790fe;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
#checkmark__count {
  font-size: 15px;
  position: relative;
  text-align: center;
  top: 2px;
}
.question__topside {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.client__card {
  display: flex;
  padding: 0 7px;
  align-items: center;
  color: #495057;
  gap: 20px;
}
.card__left__side {
  display: flex;
  flex-direction: column;
}
.badge-soft-info{
  width: 55px;
  background: #dfeffc;
  position: absolute;
  color: #2e77e1 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  text-align: center !important;
}
.btn-soft-primary{
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #556ee6 !important;
  background-color: rgba(85, 110, 230, .1) !important;
  border-color: transparent !important;
  -webkit-transition: all .5s ease !important;
  transition: all .5s ease !important;
}
.btn-soft-primary:hover{
  color: #fff !important;
  background-color: #556ee6 !important;
  border-color: transparent !important;
  -webkit-transition: all .5s ease !important;
  transition: all .5s ease !important;
}
.client__card a{
  pointer-events: none;
}
.card__left__side img {
  width: 82px;
  padding: 8px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #80808063;
}
#card__hr {
  margin: 0.2px !important;
  color: #424249 !important;
}
.customerInfoButtons {
  display: none;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 311px;
}
.question__topside menu{
  position: relative;
}
#resetCustomerButton {
  width: 80px;
}
.points-eventer {
  pointer-events: none;
}
.applyButton {
  display: flex;
  justify-content: center;
  background-color: #556ee6;
  color: #fff;
  position: relative;
  border: none;
  padding: 8px 10px;
  z-index: 1;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}


.createQuestionButton{
  font-size: 14px !important;
  background-color: #007bff;
  color: #fff;
  position: relative;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  z-index: 1;
  min-width: 150px;
  cursor: pointer;
  margin-top: 10px;
}
.question__botside {
  position: relative;
  bottom: 0px;
    bottom: 10px;
    width: 98%;
  width: 100%;
}
#mainClients{
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 698px;
  max-width: 1427px;
  padding: 0;
  position: relative;
  /* margin-left: 357px; */
  margin-top: 24px;
}
.bottom__svg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.check__questions {
  position: relative;
  height: 83%;
  top: 7px;
  z-index: 1;
  width: 100%;
  background: #ffffff;
  padding: 10px 56px;
  overflow: auto;
}
#onbilgiP {
  padding: 7px;
  font-size: 17px;
  font-weight: 700;
  border-bottom: 1px solid #808080db;
}
.specPQuestionCheck {
  width: 130px !important;
}
#yetkiliPquestionCheck {
  width: 303px !important;
}
#vardiya2 {
  margin-left: 18px;
  width: 250px !important;
}
#mahalle2 {
  margin-left: -48px;
  width: 250px !important;
}
#vkn_input2 {
  margin-left: 18px;
  width: 250px !important;
}
#binaFaaliyet2 {
  width: 375px !important;
}
#yanginPompasiP {
  width: 317px !important;
}
.ECInput {
  width: 250px !important;
}
.questionCheckTopDiv {
  height: 5%;
  background: #e6e6e6;
  margin-bottom: -7px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionCheckTopDiv i {
  font-size: 22px;
}
.topDivIcons {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}
#topDivImg {
  width: 66px;
  margin-left: 15px;
}
.questionCheckDiv {
  display: none;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-left: -20px;
  top: 0px;
}
.questionCheckBottomDiv {
  height: 6%;
  gap: 16px;
  position: relative;
  background: #e6e6e6;
  z-index: 1;
  display: flex;
  padding: 10px 22px 10px 10px;
  align-items: center;
}
.questionCheckBottomDiv button {
  height: 33px;
  font-size: 13px;
}
#mailListButton{
  margin-left: auto;
}
#topDivP__check {
  font-weight: 600;

}
#mainTitleP{
  font-size: 15px;

}
#closeCheckPanel{
  cursor: pointer;
}
.specialLink{
  width: 426px;
    height: 28px;
    padding: 2px;
    resize: none;
}
#logoutButton{
  border: none;
  background: transparent !important;
  color: #bdbdbd !important;
}

.product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
}
.company-card{
	width: 32.35% !important;
}
.card{
	width: 100% !important;
}
#users{
	gap: 21px;
	
}
.company-card p{
	color: #424249;
}
.card-body{
	justify-content: center;
    display: flex;
    flex-direction: column;
	gap: 4px;
}
.card-body{
	justify-content: center;
    display: flex;
    flex-direction: column;
	gap: 4px;
}
.card-body img{
	width: 80px;
    align-self: center;
}
.card-body button{
	padding: 4px;
    border: 1px solid;
	margin-top: auto;
}
.card{
	min-height: 248px !important;
}
#defImg{
	width: 140px !important;
}
.card-title{
	font-weight: 600;
}
#digiImg{
	width: 100px;
	    margin-bottom: 4px;
}
.wrapperButton{
  background: #556ee6 !important;
  color: #fff !important;
  padding: 6px !important;
  font-size: 14px !important;
}
.broker-check-input{
  margin: 0 16px;
}
.client-check-input{
  margin: 0 19px;
}
.sigortaCard .btn-primary{
  font-size: 14px;
  font-family: Rubik !important;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #556ee6 !important;
  --bs-btn-border-color: #556ee6 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #556ee6 !important;
  --bs-btn-hover-border-color: #556ee6 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #556ee6 !important;
  --bs-btn-active-border-color: #556ee6 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #556ee6 !important;
  --bs-btn-disabled-border-color: #556ee6 !important;
}