.sidebar {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 13.5%;
  height: 100vh;
  max-height: 100%;
  transition: left 0.3s ease;
  background-color: #131417;
  position: fixed;
  left: 0;
  z-index: 2;
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.perfect-scrollbar {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.ps {
  position: static;
  display: block;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.sidebar-profile {
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
    height: 127px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 13px;
}
.user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}
.img-responsive {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.user-info {
  float: left;
}
.user-role {
  font-size: 12px;
  display: block;
  color: #bdbdbd;
}
.user-name {
  color: #fff;
  font-size: 12px;
}
.user-status {
  display: flex;
  align-items: center;
}
.user-status span {
  color: #bdbdbd;
  font-size: 12px;
}
.user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
.sidebar-menu {
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar-menu ul hr{
  margin: 5px 0;
  color: aliceblue;
}
.sidebar-menu ul li{
  width: 90%;
  margin: 5px auto;
  margin: auto;
  border-radius: 9px;
}
.sidebar-menu ul li .generalText {
  font-weight: 600;
  font-size: 14px;
  padding: 5px 10px 5px;
  display: inline-block;
  color: #77accd;
}
.sidebar-menu ul li a {
  display: inline-block;
  border-radius: 13px;
  text-decoration: none;
  position: relative;
  padding: 6px 8px 6px 8px;
  display: flex;
  align-items: center;
  width: 100%;
}
.sidebar-menu a:hover i,
.sidebar-menu a:hover span {
  color: #fff;
}
.sidebar-menu a:hover li {
  background: #d6d6d62e ;
}

.sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin-left: 1px;
  color: #bdbdbd;
}
.sidebar-menu ul li a span {
  color: #bdbdbd;
  font-size: 0.85rem;
  font-weight: 500;
}
.sidebar-footer {
  background-color: rgba(43, 43, 43, 0.5);
  box-shadow: 0 -1px 5px rgba(43, 43, 43, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
}
.sidebar-footer .dropdown {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.sidebar-footer .dropdown a {
  color: #bdbdbd;
  text-decoration: none;
  transition: color 0.3s ease;
  flex-grow: 1;
}
.sidebar-footer .dropdown a i {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  padding-right: 2px;
  font-size: 0.9rem;
}
.sidebar-footer .dropdown a .notification__span {
  position: absolute;
  top: 0;
  color: #212529;
  background-color: #ffc107;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  zoom: 0.95;
  width: 18px;
  height: 18px;
}
.sidebar-footer .dropdown a .message__span {
  position: absolute;
  top: 0;
  color: #212529;
  background-color: #28a745;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  zoom: 0.95;
  width: 18px;
  height: 18px;
}
.sidebar-footer .dropdown a .settings__span {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
  }
  .bi.bi-power {
    display: inline-block;
    font-weight: bold;
}
.sidebar-logo{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.img-responsive2{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.sidebar-logo p{
  font-family: monospace !important;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.notifications{
  margin: 0px 0px;
  border-radius: 3px;
  height: 275px;
  position: relative;
  bottom: 277px;
  background: #eee;
}
.sidebar-settings-div{
  margin: 0px 0px;
    border-radius: 3px;
    height: 174px;
    position: relative;
    bottom: 175px;
    background: #eee;
}
.notifications-header{
  display: flex;
  gap: 11px;
  border-bottom: 1px solid #c8c8c8;
  padding: 11px;
  justify-content: flex-start;
  align-items: center;
}
.notifications p,.sidebar-settings-div p{
  font-size: 14px;
}
.notifications img,.sidebar-settings-div img{
  width: 67px;
  position: absolute;
  right: 9px;
}
.notification-row{
  display: flex;
  gap: 14px;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #c8c8c8;
}
.notification-bottom{
  display: flex;
  gap: 14px;
  margin-top: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.ps-content{
  height: 100%;
    display: flex;
    flex-direction: column;
}
.notification-time{
  color: #717171;
}
.notification-row:hover,.notification-bottom:hover,.messages-row:hover{
  background: #40444612;
}
.notification-row .bi-info-circle, .notification-row .bi-chat-square {
  color: #007bff;;
}
#sidebar-messages,#sidebar-settings{
  display: none;
}
#sidebar-notifications{
  display: none;
  flex-direction: column;

}
.messages-row{
  display: flex;
    gap: 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #c8c8c8;
}
.messages-row img{
  position: relative;
  width: 37px;
}
.messages-name{
  font-weight: 600;
  font-family: sans-serif !important;
}