{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'questions/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/question.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/py.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/user.css' %}" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.56/vfs_fonts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous" />
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'questions/css/client.questions.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/notification.css' %}" rel="stylesheet" />
    <link href="{% static 'questions/css/modal.css' %}" rel="stylesheet" />
    <link
      href="{% static 'questions/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <title>Question Forms</title>
    <link rel="icon" href="/static/questions/img/xxx.png" >
  </head>
  <body>
    
    <div class="mainDiv">
      <nav class="sidebar sidebar-bg" id="sidebar">
        <div class="sidebar-content">
          <div class="perfect-scrollbar">
            <div class="ps">
              <div class="ps-content">
                <div class="sidebar-logo">
                  <img
                    src="{% static 'questions/img/white_logo.png' %}"
                    class="img-responsive2"
                    alt=""
                  />
                  <p>DIGITALIZE EVERYTHING, NOW.</p>
                </div>
                
                <div class="sidebar-menu">
                  <ul>
                    <li>
                      <a href="{% url 'questions:dashboard' %}">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                      </a>
                    </li>
                    <li><span class="generalText">General</span></li>
                    <li style="background: #3a3b3d">
                      <a href="{% url 'questions:index' %}">
                        <i class="bi bi-ui-checks" style="color: #fff"></i>
                        <span style="color: #fff">Send Questionnaire</span>
                      </a>
                    </li>
                    
                    <li>
                      <a href="{% url 'questions:opportunities' %}">
                        <i class="bi bi-briefcase"></i>
                        <span>Opportunities</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'questions:add_records' %}">
                        <i class="bi bi-person-plus"></i>
                        <span>Add a Client/Insurer</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'clients:index' %}">
                        <i class="bi bi-person"></i>
                        <span>Clients</span>
                      </a>
                    </li>

                    <li>
                      <a href="{% url 'insurers:index' %}">
                        <i class="bi bi-shield-check"></i>
                        <span>Insurers</span>
                      </a>
                    </li>
                    <li style="display:none;">
                      <a href="{% url 'insurers:index' %}">
                        <i class="bi bi-symmetry-horizontal"></i>
                        <span>Risk Reports</span>
                      </a>
                    </li>
                    <li style="display:none;">
                      <a href="{% url 'insurers:index' %}">
                        <i class="bi bi-award"></i>
                        <span>Claims</span>
                      </a>
                    </li>

                    <li style="display:none;"><span class="generalText">Extra</span></li>
                    <li style="display:none;">
                      <a href="#">
                        <i class="bi bi-journal-text"></i>
                        <span>Documentation</span>
                      </a>
                    </li>
                    <li style="display:none;">
                      <a href="#">
                        <i class="bi bi-calendar-fill"></i>
                        <span>Calendar</span>
                      </a>
                    </li>
                    <li style="display:none;">
                      <a href="#">
                        <i class="bi bi-folder-fill"></i>
                        <span>Examples</span>
                      </a>
                    </li>
                    <li><span class="generalText">Demo Links</span></li>
                    <li>
                      <a href="{% url 'questions:dashboard' %}">
                        <i class="bi bi-activity"></i>
                        <span>Broker Dashboard</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'clientScreen:dashboard' %}">
                        <i class="bi bi-activity"></i>
                        <span>Client Home</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'insurerScreen:dashboard' %}">
                        <i class="bi bi-activity"></i>
                        <span>Insurer Home</span>
                      </a>
                    </li>  
                  </ul>
                  
                 
                <ul>
                  <hr>
                  <li>
                    <a href="#">
                      <i class="bi bi-door-open-fill"></i>
                      <span>Logout</span>
                    </a>
                  </li>
           
                  
                </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
    
      </nav>

      <div class="accordion">
        <div class="accordion-item" style="border-radius: 0px;background: #ededed;">
          <input type="checkbox" id="accordion1" />
          <label for="accordion1" class="accordion-item-title" style="background:#fff !important;">
            <div style="display:flex;    align-items: center;">
              <div class="notifTopDiv" style="">
              <i class="bi bi-bell" id="notificationBell" style="background-color: rgb(255, 255, 255);"></i>
              <div id="notificationMainDiv" style="display: none;">
                <div style="display:flex;" class="notificationsHeader">
                <p>Notifications</p>
                <a href="">View All</a>
                </div>
                <div class="notificationCardDiv">
                  <span style="background: #516efd;"><i class="bi bi-shield-check"></i></span>
                  <div class="notificationPDiv">
                    <p class="notificationTitle">An insurance profile has been added</p>
                    <p class="notificationDetail">Click here to go to the Insurance Profile page.</p>
                    <p class="notificationTimeP"><i class="bi bi-clock"></i> 3 hours ago</p>
                  </div>
                </div>
                <div class="notificationCardDiv">
                  <span style="background: #3bbd88;"><i class="bi bi-patch-check"></i></span>
                  <div class="notificationPDiv">
                    <p class="notificationTitle">The questionnaire form was successfully submitted</p>
                    <p class="notificationDetail">Mutlu Akü &amp; Allianz Sigorta Questionnaire Form has been delivered.</p>
                    <p class="notificationTimeP"><i class="bi bi-clock"></i> 9 hours ago</p>
                  </div>
                </div>
                <div class="notificationCardDiv">
                  <span style="background: #516efd;"><i class="bi bi-arrow-repeat"></i></span>
                  <div class="notificationPDiv">
                    <p class="notificationTitle">The questionnaire has been answered</p>
                    <p class="notificationDetail">The questionnaire was answered by Mert Güven - Mutlu Akü.</p>
                    <p class="notificationTimeP"><i class="bi bi-clock"></i> 2 days ago</p>
                  </div>
                </div>

              </div>
             
            </div>
              <button type="button" id="fullscreenButton" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen" style="background-color: rgb(255, 255, 255);">
                <i class="bi bi-fullscreen" id="fullscreenOpen" style="display: inline;"></i>
                <i class="bi bi-fullscreen-exit" id="fullscreenExit" style="display: none;"></i>
            </button>
            
            <div class="sidebar-profile" onclick="toggleDropdown()" id="profileDivID">
              <div class="user-pic">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5q9GlWCAoQHPpOiDOECuYUeXW9MQP7Ddt-Q&s" class="rounded-circle" alt="Profile Picture" width="40" height="40">
              </div>

              <div class="user-info d-flex align-items-center">
                <span class="user-name me-2">Melis Deniz</span>
                <i class="bi bi-chevron-right userIcon" id="userIcon"></i>
              </div>
              <div id="profileDropdownMenu" class="p-2 rounded">
                <a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i>Profile</a>
                <a class="dropdown-item" id="logoutA" href="#"><i class="bi bi-door-open-fill"></i>Logout</a>
              </div>
            </div>
</div>

            <span class="infoSpan rubik" id="mainTitleP" style="font-weight: 600 !important;
            font-size: 16.2px !important;
            padding: 6px;">QUESTIONNAIRE FORMS</span>
          </label>

          <div class="accordion-item-desc mainDesc" id="mainDesc" style="    padding: 10px 20px 0px !important; ">
            <div class="mainDescBg">
            
            </div>
            <div class="questionCheckDiv" id="questionCheckDiv">
              <div class="questionCheckTopDiv">
                <img src="" id="topDivImg" alt="">
                <p id="topDivP__check"></p>
                <div class="topDivIcons">
                  <i class="bi bi-file-earmark-arrow-down" onclick="downloadPdf()" style="position: relative;
                  z-index: 1;
                  cursor: pointer;"></i>
                <i class="bi bi-x-circle" id="closeCheckPanel" ></i>
                </div>
                
              </div>
              <div class="check__questions">
                <div id="container_py" class="container_py">
                  
                </div>

              </div>
  
              <div class="questionCheckBottomDiv">
                <label class="checkbox-container_info">
                  <input class="custom-checkbox_info" type="checkbox" />
                  <span class="checkmark_info"></span>
                  <p>Soruları kontrol ettim, onaylıyorum.</p>
                  
                </label>
                <!-- <textarea class="specialLink">http://185.87.252.236:5555/clientScreen/</textarea> -->
              
               
                <button type="button" class="btn btn-primary mailModalButton" id="mailListButton" onclick="openPopupSigorta()">Placement</button>
  
                <button type="button" class="btn btn-primary mailModalButton" id="sendMailPopup" onclick="openPopup()">Send Client</button>
                
              </div>
            </div>
  
            <div class="question__topside">
              <menu>
                <div class="radio-inputs">
                  <label class="radio" id="PCRadio">
                    <input type="radio" name="radio" />
                    <span class="name">P&C</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="radio" />
                    <span class="name">Health</span>
                  </label>

                  <label class="radio">
                    <input type="radio" name="radio" />
                    <span class="name">Cargo</span>
                  </label>
                </div>
                <div class="radio-inputs product-input" id="productRadios">
                  <div class="checkbox-wrapper" id="yanginDivButton" onclick="toggleAccordionYangin()">
                    <label class="container" id="yanginDivButton3">
                      <input type="checkbox" />
                      <div class="checkmark">
                        <p id="yanginDivButton2">Yangın</p>
                      </div>
                    </label>
                  </div>
                  <div class="checkbox-wrapper" id="ECDivButton">
                    <label class="container">
                      <input type="checkbox" />
                      <div class="checkmark"><p id="ECDivButton2">EC</p></div>
                    </label>
                  </div>
                  <div class="checkbox-wrapper" id="MKDivButton">
                    <label class="container">
                      <input type="checkbox" />
                      <div class="checkmark"><p id="MKDivButton2">MK</p></div>
                    </label>
                  </div>
                  <div class="checkbox-wrapper" id="IMMDivButton">
                    <label class="container">
                      <input type="checkbox" />
                      <div class="checkmark"><p id="IMMDivButton2">IMM</p></div>
                    </label>
                  </div>
                  <div class="checkbox-wrapper" id="TPLDivButton"  >
                    <label class="container">
                      <input type="checkbox" />
                      <div class="checkmark" ><p id="TPLDivButton2">TPL</p></div>
                    </label>
                  </div>
                </div>
                <div class="customerInfoButtons" id="customerInfoButtons">
                  <button id="customerButton" class="customer-button disabled">Fill Customer Information</button>
                  <button
                    id="resetCustomerButton"
                    class="customer-button disabled"
                  >
                    Reset
                  </button>
                </div>
                <div class="custom-upload-container" id="customUploadContainer">
                  <input type="file" id="customFileInput" accept=".pdf,.xls,.xlsx,.csv,.txt,image/*" style="display: none;">
                  <img id="customPreviewImage" alt="Uploaded File">
                  <span id="customPlaceholderText">
                    <span style="font-weight: 500;">
                    Risk Raporu </span>
                    <br>
                    <hr/ class="uploadHr">
                    Risk raporunu yüklemek için tıklayın veya sürükleyip bırakın</span>
                  <div class="custom-file-name" id="customFileName"></div>
              </div>
              </menu>
              <div class="user-search" id="client-search-div">
                <div class="user-search__input-wrapper" >
                  <input
                    type="text"
                    class="user-search__input"
                    placeholder="Müşteri ara..."
                  />
                  <button class="user-search__close">&times;</button>
                  <div class="user-search__list">
                    <div
                      class="user-search__option"
                      data-name="AGESA"
                      id="agesa"bi bi-door-closed-fill
                    >
                      <img
                        src="https://algo-ritmo.com/wp-content/uploads/2019/12/mutlu-aku-logo.jpg"
                        alt="AGESA"
                      />
                      MUTLU AKÜ
                    </div>
                    <div class="user-search__option" data-name="bera">
                      <img
                        src="https://www.kap.org.tr/SirketLogo/4028e4a241733d42014174023cb0192b"
                        alt="barem"
                      />
                      BERA HOLDİNG A.Ş.
                    </div>
                    <div class="user-search__option" data-name="cosmos">
                      <img
                        src="https://www.kap.org.tr/SirketLogo/4028e4a24158e42401415ada104f7e44"
                        alt="Kullanıcı 3"
                      />
                      COSMOS YATIRIM HOLDİNG A.Ş.
                    </div>
                    <div class="user-search__option" data-name="esenboga">
                      <img
                        src="https://www.kap.org.tr/SirketLogo/8acae2c57436079f0174486159f4072f"
                        alt="esenboga"
                      />
                      ESENBOĞA ELEKTRİK ÜRETİM A.Ş.
                    </div>
                    <div class="user-search__option" data-name="inveo">
                      <img
                        src="https://www.kap.org.tr/SirketLogo/4028e4a140f2ed7201413b67b22f0929"
                        alt="inveo"
                      />
                      INVEO YATIRIM HOLDİNG A.Ş.
                    </div>
                    <div class="user-search__option" data-name="MLP">
                      <img
                        src="https://www.kap.org.tr/SirketLogo/4028e4a1462cc5dd01465c9550782baa"
                        alt="MLP"
                      />
                      MLP SAĞLIK HİZMETLERİ A.Ş.
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" id="client__card">
                <span class="badge badge-soft-info">P&C</span>
                <a href=""><span id="client__card__name">MUTLU AKÜ</span></a>
              
                <div class="client__card">
                  <div class="card__left__side">
                    <a href=""><img
                      id="cardImg"
                      src="https://algo-ritmo.com/wp-content/uploads/2019/12/mutlu-aku-logo.jpg"
                      alt=""
                    /></a>
                    
                  </div>
                  <div class="card__right__side">
                    <p><span>Industry:</span> Steel</p>
                    <p><span>Revenue:</span> 1,300,000 EUR</p>
                    <p><span>Earthquake Region:</span></p>
                  </div>
                </div>
                
                <textarea name="" id="client_info_p" cols="30" rows="10">Mutlu Akü, müşterilerine kapsamlı ve yenilikçi çözümleri sunarak güvenilir bir hizmet sağlar.</textarea>
                <div class="" style="">                    <a href="{% url 'clients:index' %}" class="btn d-block viewProfile" style="bottom:5px !important; ">View Profile</a>                </div>
              </div>
            </div>
            <hr id="specHrr" />
          
            {% include 'questions/send.html' %}

        
            <section class="results">
              <div class="accordion-item" id="informationAccordion">
                <input type="checkbox" id="accordion3" />
                <label for="accordion3" class="accordion-item-title accordion3Label" id="bilgilendirmeMetni">
                 
                  <div class="locktonSvgAdd"></div>
                  <span class="icon"></span>Bilgilendirme Metni
                </label>
                <div class="accordion-item-desc accordionBg" id="bilgilendirmeDiv">
                  İş bu form rizikoya ait bilgilerin temin edilmesi ve Ön Risk
                  Analizi çalışmasının gerçekleştirilebilmesi adına talep
                  edilmektedir.Formda yer alan rizikoya ait bilgi, fotoğraf ve
                  önlemlerin eksik, yanlış veya tahrif edilmiş şekilde beyanı ve
                  ibrazı sebebiyle oluşabilecek beyana aykırılık kaynaklı
                  zararlar, formu dolduran kişi ve kurumun sorumluluğunda olacak
                  olup AXA Sigorta A.Ş. bu gibi konularda sorumluluk kabul
                  etmemektedir.
                  <br />
                  Risk Bilgi Formu hazırlanması sürecinde ve sigorta
                  teminatlarını kapsayacak teknik konularda şirketimizin her
                  türlü yardım ve desteğe hazır olduğunu ayrıca belirtiriz.
                  <hr class="specHR" />
                  <label class="checkbox-container_info" style="    position: relative;
    left: 0px;">
                    <input class="custom-checkbox_info" type="checkbox" />
                    <span class="checkmark_info"></span>
                    <p>Bilgilendirme Metni'ni okudum ve onaylıyorum.</p>
                  </label>
                </div>
              </div>

          
              {% for accordion in basliklar %}
              
                <div class="accordion-item" id="{{ accordion.accordion_id }}">
                  <input type="checkbox" id="{{ accordion.accordion_input }}" />
                  <label for="{{ accordion.accordion_input }}" class="accordion-item-title {{ accordion.accordion_label }}" id="{{ accordion.accordion_label_id }}">
                  
                    <span class="icon"></span>
                   
                    <p id="title_accordion_py{{ accordion.qsc_id }}">{{ accordion.qsc_name }} </p>
                  </label>
                  <div class="accordion-item-desc accordionBg" id="{{ accordion.accordion_item_desc }}">
                    <div class="topButtonDiv">
                      <label class="container__spec">
                        <input type="checkbox" attr="spec" id="checkmark__selectAll_{{ accordion.accordion_id }}" class="select-all-checkbox" data-target="{{ accordion.accordion_id }}" checked="checked" />
                        <div class="checkmark__spec" style="border: 1px solid #4790fe;"></div>
                      </label>
                      <p class="first_title_p">
                        Risk Bilgi Formu hazırlanması sürecinde ve sigorta
                        teminatlarını kapsayacak teknik konularda şirketimizin her
                        türlü yardım ve desteğe hazır olduğunu ayrıca belirtiriz.
                      </p>
                      <div class="checkBoxRightDiv" style="margin-right: 3px;">
                        <button type="button" class="btn wrapperButton">Broker</button>
                        <button type="button" class="btn wrapperButton">Client</button>
                      </div>
                    </div>
                    <hr class="specHr" />
                    {% for key, x in accordion.items %}
                      {% if key|slice:":1" == "Q" %}
                        <div class="questionInputDiv mainQuestionDiv py_questionDiv">
                        
                         
                          <label class="container__spec">
                            <input type="checkbox" attr="spec" checked="checked" id="question__checkbox_{{ accordion.accordion_id }}_{{ key }}" class="question-checkbox" data-parent="{{ accordion.accordion_id }}" />
                            <div class="checkmark__spec"></div>
                          </label>
                          {% if x.question  %}
                          <p class="question_p" id="question{{ accordion.accordion_id }}-{{ key }}" order="1">{{ x.question }}</p>
                          {% endif %}
                          {% if x.title_pyx  %}
                          <p class="title_pyx" order="0">{{ x.title_pyx }}</p>
                          {% endif %}
                          {% if x.radio %}
                            <div class="form-check form-check-inline form_check_py">
                              <input class="form-check-input radio_input_py {{ accordion.accordion_id }}_radio_{{ key }}_1" type="radio" name="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" id="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" value="option1">
                              <label class="form-check-label radio_label_py" 
                              id="label_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" for="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" order="2">{{ x.radio_option1 }}</label>
                            </div>
                            <div class="form-check form-check-inline form_check_py">
                              <input class="form-check-input radio_input_py {{ accordion.accordion_id }}_radio_{{ key }}_2" type="radio" name="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" id="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" value="option2">
                              <label class="form-check-label radio_label_py" 
                              id="label_{{ x.qsc_id }}-{{ x.qfq_sort_number }}_2"for="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" order="3">{{ x.radio_option2 }}</label>
                            </div>
                            {% if x.radio_option3 %}
                              <div class="form-check form-check-inline form_check_py">
                                <input class="form-check-input radio_input_py {{ accordion.accordion_id }}_radio_{{ key }}_3" type="radio" name="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" id="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" value="option3">
                                <label class="form-check-label radio_label_py" 
                                id="label_{{ x.qsc_id }}-{{ x.qfq_sort_number }}_3"for="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" order="4">{{ x.radio_option3 }}</label>
                              </div>
                            {% endif %}
                            {% if x.radio_option4 %}
                              <div class="form-check form-check-inline form_check_py">
                                <input class="form-check-input radio_input_py {{ accordion.accordion_id }}_radio_{{ key }}_4" type="radio" name="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" id="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" value="option4">
                                <label class="form-check-label radio_label_py" 
                                id="label_{{ x.qsc_id }}-{{ x.qfq_sort_number }}_4"for="radio_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" order="5">{{ x.radio_option4 }}</label>
                              </div>
                            {% endif %}
                          {% endif %}
                          {% if x.inputName %}
                            <p data-related-id="question{{ accordion.accordion_id }}-{{ key }}"  class="label_py " order="7">{{ x.inputName }}</p>
                          {% endif %}
                          {% if x.input_type %}
                            <div class="form-control inputSize_py">
                              <input type="{{ x.input_type }}" id="input_{{ x.qsc_id }}-{{ x.qfq_sort_number }}-1" name="input_{{ x.qsc_id }}-{{ x.qfq_sort_number }}-1" class="input input-alt {{ accordion.accordion_id }}_input_{{ key }}_1" placeholder="{{ x.placeholder }}" oninput=" ('{{ accordion.accordion_id }}', {{ forloop.counter }})" data-related-id="question{{ accordion.accordion_id }}-{{ key }}"  order="8" />
                              <span class="input-border input-border-alt"></span>
                            </div>
                          {% endif %}
                          {% if x.inputName2 and x.input_type2 %}
                            <p data-related-id="question{{ accordion.accordion_id }}-{{ key }}" class="label_py order2" style="margin-left:15px;" order="9">{{ x.inputName2 }}</p>
                            <div class="form-control inputSize_py">
                              <input type="{{ x.input_type2 }}"  id="input_{{ x.qsc_id }}-{{ x.qfq_sort_number }}-2" name="input_{{ x.qsc_id }}-{{ x.qfq_sort_number }}-2"  class="input input-alt {{ accordion.accordion_id }}_input_{{ key }}_2" placeholder="{{ x.placeholder2 }}" data-related-id="question{{ accordion.accordion_id }}-{{ key }}" order="10" />
                              <span class="input-border input-border-alt"></span>
                            </div>
                          {% endif %}
                          {% if x.inputName3 and x.input_type3 %}
                            <p data-related-id="question{{ accordion.accordion_id }}-{{ key }}" 
                            class="label_py order3" style="margin-left:15px;" order="11">{{ x.inputName3 }}</p>
                            <div class="form-control inputSize_py">
                              <input type="{{ x.input_type3 }}"  id="input_{{ x.qsc_id }}-{{ x.qfq_sort_number }}-3" name="input_{{ x.qsc_id }}-{{ x.qfq_sort_number }}-3" class="input input-alt {{ accordion.accordion_id }}_input_{{ key }}_3" placeholder="{{ x.placeholder3 }}" data-related-id="question{{ accordion.accordion_id }}-{{ key }}"  order="12"/>
                              <span class="input-border input-border-alt"></span>
                            </div>
                          {% endif %}
                          {% if x.currentSelection %}
                          <div id="currentSelection_py">
                            <div class="wrapper2" class="currentSelectionCheck_py">
                              <form class="form-inline">
                                <label class="sr-only" for="inlineFormInputGroup">Amount</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0" data-index="1">
                                  <div class="input-group-addon currency-symbol  {{ x.qfq_sort_number }}-{{ x.qsc_id }}_currency" id="currencySubAmountDiv">$</div>
                                  <input type="number" class="form-control currency-amount input-alt {{ accordion.accordion_id }}_currentSelection_{{ key }}" style="  width: 156px;
  font-size: 15px !important;
  color: #74788d !important;
  background: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  appearance: none !important;
  padding: .37rem .45rem !important;
  border-radius: 0.25rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;" id="{{ x.qsc_id }}-{{ x.qfq_sort_number }}_current_selection" name="{{ x.qsc_id }}-{{ x.qfq_sort_number }}_current_selection" placeholder="0" size="8" oninput=" ('{{ accordion.accordion_id }}', {{ forloop.counter }})">
                                  <div style="background: #e4e4e469;" class="input-group-addon currency-addon">
                                    <select class="currency-selector" id="current_selector_content" onchange=" ('{{ accordion.accordion_id }}', {{ forloop.counter }})">
                                      <option data-symbol="$" data-placeholder="0" selected>USD</option>
                                      <option data-symbol="€" data-placeholder="0">EUR</option>
                                      <option data-symbol="£" data-placeholder="0">GBP</option>
                                      <option data-symbol="₺" data-placeholder="0">TL</option>
                                    </select>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        {% endif %}
                          <div class="checkBoxRightDiv">
                            <div class="checkbox-wrapper-31 broker-check-input">
                              <input type="checkbox" class="broker-select-box  input_checked_{{ key }}" attr="broker-select" id="broker-checkbox_{{ accordion.accordion_id }}_{{ key }}" />
                              <svg viewBox="0 0 35.6 35.6">
                                <circle class="background2" cx="17.8" cy="17.8" r="17.8"></circle>
                                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                              </svg>
                            </div>
                            <div class="checkbox-wrapper-31 points-eventer client-check-input">
                              <input type="checkbox" attr="client-select" class="client-select-box" id="client-checkbox_{{ accordion.accordion_id }}_{{ forloop.counter }}" />
                              <svg viewBox="0 0 35.6 35.6">
                                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                              </svg>
                            </div>
                          </div>
                        </div>
                      
                        {% if x.textarea %}
                        <div id="textarea_py">
                          <textarea class="form-control textarea_py_sub" id="textarea_{{ x.qsc_id }}-{{ x.qfq_sort_number }}" placeholder="{{ x.textarea }}" oninput="('{{ accordion.accordion_id }}', {{ forloop.counter }})" order="13"></textarea>
                      </div>
                      
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <button type="button" class="btn wrapperButtonUpload">Upload Document</button>
                    <input type="file" id="fileInput" style="display:none;">
                    <button type="button" class="btn wrapperButtonAddQuestion">Add a Question</button>
                  </div>
               
                </div>
              {% endfor %}
            <div class="accordion-item" id="FotografAccordion">
              <input type="checkbox" id="accordionFotograf" />
              <label for="accordionFotograf" class="accordion-item-title accordionFotografLabel">
          
             
              <span class="icon"></span>Fotoğraflar</label>
              <div class="accordion-item-desc accordionBg">
                <button type="button" class="btn wrapperButtonUpload">Upload Document</button>
                <input type="file" id="fileInput" style="display:none;">
                <button type="button" class="btn wrapperButtonAddQuestion">Add a Question</button>
                <div class="topButtonDiv" style="    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-size: 14.2px;
    font-weight: 400;">   
                  <p>
                    Risk Değerlendirmesi Çalışması için ihtiyaç duyacağımız fotoğraflar aşağıda maddeler halinde paylaşılmıştır. ilgili fotoğrafların aşağıda bulunan fotoğraf yükleme alanlarınayüklenmesini rica ederiz. Her bir fotoğrafın 1 MI311 geçmemesi dosyanın mail ile paylaşılabilmesi açısından önem arz etmektedir. Gerekli görülmesi halinde fotoğrafların küçültüldükten sonra yüklenmesi uygun olacaktır. 
                  </p>
                  <p>
                    - İşletme içerisinden genel vaziyeti gösterecek şekilde olabildiğince geniş açılı birkaç fotoğraf, - İşletmede bulunan tüm yangın önlemlerini (Yangın tüpleri, yangın dola pları, duman dedektörleri, sprinkler vb.) gösterir şekilde geniş açılı birkaç fotoğraf, 
                  </p>
                  <p>
                    - İşletmede bulunan tüm sel önlemlerini(Palet/raf üzeri depolama, mazgallar, su toplama kuyuları, menfezler vb.) gösterir şekil-de geniş açılı birkaç fotoğraf, 
                  </p>
                  <p>
                    - İşletmede bulunan tüm hırsızlık önlemlerini(kepenk, kamera sistemleri, hırsızlık alarmları vb.) gösterir şekilde geniş açılı birkaç fotoğraf,
                  </p>
                  <p> 
                    - İşletme çevresinden binayı ve çevresini görebileceğimiz şekilde geniş açılı birkaç fotoğraf, 
                    - Yangın pompa grubu, pompa basınç göstergesi, yangın kollektörü ve yangın suyu deposundann geniş açılı birkaç fotoğraf, 
                  </p>
                  <p>
                    - Elektrik panolarının bulunduğu alanlardan, aydınlatma armatürlerinden, elektrik tesisatından ve jeneratörden geniş açılı birkaç fotoğraf, 
                  </p>
                  <p>
                    - Duman dedektörü kontrol panosundan bir adet fotoğraf, 
                  </p>
                  <hr/>
                </div>
                <div class="containerUp" id="imageUploadGrid"></div>
                <hr class="specHr" style="margin-bottom:0;"/>

              </div>
            </div>
            <div class="question__botside">
            <hr id="specHrr" />
            <div class="bottom__svg"> <button class="applyButton" id="applyButton">Confirm</button></div>
          </div>
          <div class="modal fade" id="questionAddModal" tabindex="-1" role="dialog" aria-labelledby="questionAddModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="questionAddModalLabel">Add Question</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Modal içeriği -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal HTML yapısı -->
<div id="addQuestionModal" class="modal">
  <div class="modal-content">
 
    <h2 style="    font-size: 17px;
    margin-bottom: 15px;">Question Adding Modal</h2>
    <div class="position-relative">
      <input type="text" class="input input-alt" placeholder="
Write the question..">
<!-- İlk dropdown (Radio count) -->

  </div>
<div style="    display: flex;
    gap: 10px;
    margin: 10px 0;">

<select id="radioCount">
  <option value="0">Select Radio Count</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>

<!-- İkinci dropdown (Input count) -->

<select id="inputCount">
  <option value="0">Select Input Count</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>
</div>
<div class="radioInputContainerDiv">
<!-- Radio butonlar ve inputların geleceği yer -->
<div id="radioContainer"></div>

<!-- Sadece inputların geleceği yer -->
<div id="inputContainer"></div>
</div>
<div class="countModalButtons">
<button class="btn btn-primary mailModalButton">
  Save
</button><button class="btn btn-primary mailModalButton" id="closecountModalButtons">
  Close
</button>
</div>
  </div>
</div>


          </section>
          
    <script>
      

      window.onload = function() {
        window.scrollTo(0, 0); // Sayfanın en üst kısmında kalmasını sağlar
    };
    // Tüm wrapperButtonUpload sınıflı butonları seç
// .wrapperButtonUpload sınıfına sahip her buton için tıklama olayı ekle
const uploadButtons = document.querySelectorAll('.wrapperButtonUpload');

uploadButtons.forEach(button => {
    button.addEventListener('click', () => {
        // fileInput id'li input dosya seçimini tetikle
        document.getElementById('fileInput').click();
    });
});

// Modalı açma ve kapatma işlevlerini kontrol eden değişkenler
const modal = document.getElementById('addQuestionModal');
const openModalButtons = document.querySelectorAll('.wrapperButtonAddQuestion');
const closeModalButton = document.getElementById('closecountModalButtons');

// Her buton için tıklama olayı ekle
openModalButtons.forEach(button => {
    button.addEventListener('click', () => {
        modal.style.display = 'block'; // Modal görünür hale gelsin
        centerModal(); // Modalı sayfanın ortasına yerleştir
    });
});

// Kapatma butonuna tıklandığında modalı kapat
closeModalButton.addEventListener('click', function() {
    modal.style.display = 'none'; // Modalı gizle
});

// Kullanıcı modaldan başka bir yere tıkladığında modalı kapat
window.addEventListener('click', function(event) {
    if (event.target === modal) {
        modal.style.display = 'none'; // Modal dışına tıklanırsa kapansın
    }
});

// Modalı sayfanın ortasına yerleştiren fonksiyon
function centerModal() {
    const modalContent = modal.querySelector('.modal-content');
    const windowHeight = window.innerHeight;
    const modalHeight = modalContent.offsetHeight;


}


    </script>
    <script src="{% static 'questions/js/sidebar.js' %}"></script>
    <script src="{% static 'questions/js/notification.js' %}"></script>
    <script src="{% static 'questions/js/slider.js' %}"></script>
    <script src="{% static 'questions/js/data.js' %}"></script>
    <script src="{% static 'questions/js/modal.js' %}"></script>
    <script src="{% static 'questions/js/script.js' %}"></script>      
    <script src="{% static 'questions/js/static-codes.js' %}"></script>      
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'questions/js/questions.js' %}"></script>
    <script src="{% static 'questions/js/user.js' %}"></script>
    <script src="{% static 'questions/js/client.questions.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tinysort/3.2.5/jquery.tinysort.min.js"></script>
    <script src="{% static 'questions/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'questions/js/bootstrap.bundle.min.js' %}"></script>
  

  </body>
</html>
